{% extends "System_body.html" %}

{% load splunkmvc %}
{% load nmon %}

5: {% block title %}NMON Application Statistics{% endblock title %}

{% block css %}
{{block.super}}
<style type="text/css">

</style>
{% endblock css %}


{% block heading %}
	
	<div class="customimgheader">
	
	<img src="{{STATIC_URL}}/nmon/logos/NMON_simplelogo.png" alt="Nmon"/>	
	<h1>NMON Application Internal Statistics</h1>

	</div>
	
{% endblock heading %}

{% block usage%}
		
	<p></p>
	{% timerange id="main-timerange" 
	managerid="search" 
	preset="Last 24 hours"
   earliest_time="$earlyval$"|token_safe
   latest_time="$lateval$"|token_safe %}                
	<p></p>                
	
{% endblock usage%}


{% block nmon_processing%}
		
	<div style="text-align: center;">
		{% single 
            id="single1-avgnbrlines" 
            managerid="nmon_processing"
            field="avg_nbr_lines"
            afterLabel="lines"
				underLabel="Avg nbr of lines per nmon file" %}

		{% single 
            id="single1-sumnbrlines" 
            managerid="nmon_processing"
            field="sum_nbr_lines_in_millions"
            afterLabel="Millions"
				underLabel="Number of lines proceeded" %}

		{% single 
            id="single1-sumsizeGB" 
            managerid="nmon_processing"
            field="sum_size_GB"
            afterLabel="GB"
				underLabel="Total nmon raw data converted" %}

		{% single 
            id="single1-countnmon" 
            managerid="nmon_processing_countnmon"
            field="count"
				underLabel="Number of nmon files proceeded" %}

		{% single 
            id="single1-processing-errors" 
            managerid="nmon_processing_errors"
				underLabel="Errors found in Data Processing" %}

		{% single 
            id="single1-collect-errors" 
            managerid="nmon_collect_errors"
				underLabel="Errors found in Data Collect" %}
	</div>

{% endblock nmon_processing%}

{% block nmon_processing_size_timechart%}

	<div style="text-align: center;">

	<h2>Nmon Raw Data conversion: Volumes proceeded over time (MB)</h2>	
	
	</div>		

	<div style="text-align: center;">
		{% single 
            id="single1-avgsizeMB" 
            managerid="nmon_processing"
            field="avg_size_MB"
            afterLabel="MB"
				underLabel="Avg size of Nmon files" %}

		{% single 
            id="single1-maxsizeMB" 
            managerid="nmon_processing"
            field="max_size_MB"
            afterLabel="MB"
				underLabel="Max size of Nmon files" %}
	</div>
		
		{% chart 
            id="nmon_processing_size_chart" 
            managerid="nmon_processing_size_bytime"
            resizable="true"
            drilldown="all"
            type="column"
            height="350px" %}
	
{% endblock nmon_processing_size_timechart%}
		
{% block nmon_processing_elapsed_timechart%}

	<div style="text-align: center;">

	<h2>Nmon Raw Data conversion: Average elapsed time per Nmon file (seconds)</h2>	
	
	</div>		

	<div style="text-align: center;">
		{% single 
            id="single1-avgelapsed" 
            managerid="nmon_processing"
            field="avg_elapsed_in_seconds"
            afterLabel="seconds"
				underLabel="Avg Time required to convert an Nmon File" %}

		{% single 
            id="single1-sumelapsed" 
            managerid="nmon_processing"
            field="sum_elapsed"
            afterLabel="Time (HH:MM:SS...)"
				underLabel="Total Time Spent in converting Nmon Data" %}
	</div>
		
		{% chart 
            id="nmon_processing_elapsed_chart" 
            managerid="nmon_processing_elapsed_bytime"
            resizable="true"
            drilldown="all"
            type="column"
            height="350px" %}
	
{% endblock nmon_processing_elapsed_timechart%}


{% block eventcount%}

	<div style="text-align: center;">

	<h2>Eventcount Statistics: Number of Events and Index Sizes</h2>	
	
	</div>		

	<div style="text-align: center;">
		{% single 
            id="single1-eventcount_size" 
            managerid="eventcount_singlessearch"
            field="Size (MB)"
            afterLabel="MB"
				underLabel="Nmon index size" %}

		{% single 
           id="single1-eventcount_events" 
            managerid="eventcount_singlessearch"
            field="Millions of Events"
            afterLabel="Millions"
				underLabel="Nmon events count" %}
	</div>
		
		{% table 
            id="eventcount-table" 
            managerid="eventcount-search"
            resizable="true"
            drilldown="cell"
            pageSize="20" %}
	
{% endblock eventcount%}

{% block metadata%}

	<div style="text-align: center;">

	<h2>Metadata Statistics: Indexes first and last event dates</h2>	
	
	</div>		

	<div style="text-align: center;">
		{% single 
            id="single1-metadata_first" 
            managerid="metadata_singlessearch_earliest"
            field="First Event"
				underLabel="Data First Event" %}

		{% single 
            id="single1-metadata_last" 
            managerid="metadata_singlessearch_latest"
            field="Last Event"
				underLabel="Data Last Event" %}
	</div>
		
		{% table 
            id="metadata-table" 
            managerid="metadata-search"
            resizable="true"
            drilldown="cell"
            pageSize="20" %}
	
{% endblock metadata%}


{% block metric%}

	<div style="text-align: center;">

	<h2>Metric Statistics: Indexing volumes (MB) and rates (kbps)</h2>	
	
	</div>		

	<div style="text-align: center;">

		{% single 
            id="single1-metric_single_perhour" 
            managerid="metric-search-perhour"
            field="average_per_hour"
				afterLabel="MB"
				underLabel="Avg volume of Data indexed per hour" %}

		{% single 
            id="single1-metric_single_perday" 
            managerid="metric-search-perday"
            field="average_per_day"
				afterLabel="MB"
				underLabel="Avg volume of Data indexed per day" %}

		{% single 
            id="single1-metric_single_total" 
            managerid="metric_singlessearch_total"
            field="total_MB"
				afterLabel="MB"
				underLabel="Total Volume of Data Indexed in Period" %}

		{% single 
            id="single1-metric_rate_avg" 
            managerid="metric-rate-search"
            field="avg_rate_kbps"
				afterLabel="kbps"
				underLabel="Avg Indexing Rate" %}

	</div>

{% endblock metric%}

{% block metric-timechart%}

	<div style="text-align: center;">

	<h2>Indexing volumes over time (MB)</h2>	
	
	</div>		
		
		{% chart 
            id="metric-chart" 
            managerid="metric-timechartsearch"
            resizable="true"
            drilldown="all"
            type="column"
            height="350px" %}

	<div style="text-align: center;">
	
	<h2>Indexing Speed Rate over time (kbps)</h2>	
	
	</div>		
		
		{% chart 
            id="metric-rate-chart" 
            managerid="metric-rate-timechartsearch"
            resizable="true"
            drilldown="all"
            type="column"
            height="350px" %}
	
{% endblock metric-timechart%}

{% block hitsperpage%}

	<div style="text-align: center;">

	<h2>Application Activity: Number of hits per page</h2>	
	
	</div>		

	<div style="text-align: center;">

		{% single 
            id="single1-top1-hit" 
            managerid="hitsperpage-top1"
            field="file"
				underLabel="Top Page by Hits" %}

	</div>
		
		{% chart 
            id="hitsperpage-chart" 
            managerid="hitsperpage-chart-search"
            resizable="true"
            drilldown="all"
            type="column"
            height="500px" %}
	
	<div style="text-align: center;">

	<p></p>
	<h2>Application Activity: Popular views</h2>	
	
	</div>		
		
		{% table 
            id="hitsperpage-table" 
            managerid="hitsperpage-table-search"
            resizable="true"
            drilldown="cell"
            pageSize="20" %}
	
	
{% endblock hitsperpage%}


{% block scheduler%}

	<div style="text-align: center;">

	<h2>Scheduler Activity: Number of jobs over time</h2>	
	
	</div>		
		
		{% chart 
            id="scheduler-chart" 
            managerid="scheduler-chart-search"
            resizable="true"
            drilldown="all"
            type="column"
            height="500px" %}

{% endblock scheduler%}


{% block managers %}

<!-- #########################################################################	MAIN SEARCHES	######################################################################### -->	

<!-- Nmon Processing statistics -->	

	{% searchmanager
		id="nmon_processing"
		search='| pivot NMON_Processing_Data_Collect NMON_Processing sum(nbr_lines) AS "sum_nbr_lines" avg(nbr_lines) AS "avg_nbr_lines" max(size_in_bytes) AS "max_size" avg(size_in_bytes) AS "avg_size" sum(size_in_bytes) AS "sum_size" avg(elapsed_in_seconds) AS "avg_elapsed_in_seconds" sum(elapsed_in_seconds) AS "sum_elapsed" ROWSUMMARY 0 COLSUMMARY 0 NUMCOLS 0 SHOWOTHER 1 | eval avg_size_MB=round((avg_size/1000/1000),2) | eval max_size_MB=round((max_size/1000/1000),2) | eval sum_size_GB=round((sum_size/1000/1000/1000),2) | eval elapsed_in_seconds=round(elapsed_in_seconds,2) | eval sum_elapsed=tostring(sum_elapsed,"duration") | eval avg_nbr_lines=round(avg_nbr_lines,0) | eval sum_nbr_lines_in_millions=round((sum_nbr_lines/1000/1000),2)'|token_safe
		earliest_time="$earlyval$"|token_safe
		latest_time="$lateval$"|token_safe
		preview=True
		auto_cancel=60
		cache=False %}

	{% searchmanager
		id="nmon_processing_countnmon"
		search='| pivot NMON_Processing_Data_Collect NMON_Processing count(NMON_Processing) AS "count" ROWSUMMARY 0 COLSUMMARY 0 NUMCOLS 0 SHOWOTHER 1'|token_safe
		earliest_time="$earlyval$"|token_safe
		latest_time="$lateval$"|token_safe
		preview=True
		auto_cancel=60
		cache=False %}

	{% searchmanager
		id="nmon_processing_size_bytime"
		search='| pivot NMON_Processing_Data_Collect NMON_Processing sum(size_in_bytes) AS "sum_size_MB" SPLITROW _time AS _time PERIOD auto SORT 0 _time ROWSUMMARY 0 COLSUMMARY 0 NUMCOLS 0 SHOWOTHER 1 | eval sum_size_MB=round((sum_size_MB/1000/1000),2)'|token_safe
		earliest_time="$earlyval$"|token_safe
		latest_time="$lateval$"|token_safe
		preview=True
		auto_cancel=60
		cache=False %}

	{% searchmanager
		id="nmon_processing_elapsed_bytime"
		search='| pivot NMON_Processing_Data_Collect NMON_Processing avg(elapsed_in_seconds) AS "avg_elapsed_in_seconds" SPLITROW _time AS _time PERIOD auto SORT 0 _time ROWSUMMARY 0 COLSUMMARY 0 NUMCOLS 0 SHOWOTHER 1 | eval avg_elapsed_in_seconds=round(avg_elapsed_in_seconds,2)'|token_safe
		earliest_time="$earlyval$"|token_safe
		latest_time="$lateval$"|token_safe
		preview=True
		auto_cancel=60
		cache=False %}

	{% searchmanager
		id="nmon_processing_errors"
		search='| pivot NMON_Processing_Data_Collect Errors_in_Processing count(Errors_in_Processing) AS "count" ROWSUMMARY 0 COLSUMMARY 0 NUMCOLS 0 SHOWOTHER 1'|token_safe
		earliest_time="$earlyval$"|token_safe
		latest_time="$lateval$"|token_safe
		preview=True
		auto_cancel=60
		cache=False %}

	{% searchmanager
		id="nmon_collect_errors"
		search='index="nmon" sourcetype="nmon_collect" error | stats count As nbr_errors'|token_safe
		earliest_time="$earlyval$"|token_safe
		latest_time="$lateval$"|token_safe
		preview=True
		auto_cancel=60
		cache=False %}

<!-- Event Count -->	
		
	{% searchmanager
		id="eventcount-search"
		search='| eventcount summarize=false report_size=true index="nmon" | eval "Size (MB)" = round(size_bytes/1024/1024,2) | eval "Millions of Events" = round(count/1000000,2) | fields index, server, "Size (MB)", "Millions of Events"'|token_safe
		preview=True
		auto_cancel=60
		cache=False %}

	{% postprocessmanager
		id="eventcount_singlessearch"
		managerid="eventcount-search"
		auto_cancel=60
		search='| sort - "Size (MB)" | head 1' %}

<!-- Metadata -->

	{% searchmanager
		id="metadata-search"
		search='| `indexes_datestats`'
		preview=True
		auto_cancel=60
		cache=False %}

	{% postprocessmanager
		id="metadata_singlessearch_earliest"
		managerid="metadata-search"
		auto_cancel=60
		search='| search sourcetype="nmon_data" | sort - "First Event" |  head 1' %}

	{% postprocessmanager
		id="metadata_singlessearch_latest"
		managerid="metadata-search"
		auto_cancel=60
		search='| search sourcetype="nmon_data" | sort - "Last Event" |  head 1' %}

<!-- Metric -->

	{% searchmanager
		id="metric-search-per-hour"
		search='index=_internal source=*metrics.log group=per_index_thruput series="nmon" | eval MB = round(kb/1024,2) | rename series As index | timechart span=1h sum(MB) As "Total_per_hour_MB" | where isnotnull(Total_per_hour_MB) | sort - _time'|token_safe
		earliest_time="$earlyval$"|token_safe
		latest_time="$lateval$"|token_safe
		preview=True
		auto_cancel=60
		cache=False %}

	{% searchmanager
		id="metric-search-per-day"
		search='index=_internal source=*metrics.log group=per_index_thruput series="nmon" | eval MB = round(kb/1024,2) | rename series As index | timechart span=1d sum(MB) As "Total_per_day_MB" | where isnotnull(Total_per_day_MB) | sort - _time'|token_safe
		earliest_time="$earlyval$"|token_safe
		latest_time="$lateval$"|token_safe
		preview=True
		auto_cancel=60
		cache=False %}

	{% postprocessmanager
		id="metric_singlessearch_total"
		managerid="metric-search-per-day"
		auto_cancel=60
		search='| stats sum(Total_per_day_MB) As total_MB' %}

	{% postprocessmanager
		id="metric-search-perday"
		managerid="metric-search-per-day"
		auto_cancel=60
		search=' | stats avg(Total_per_day_MB) As average_per_day | eval average_per_day=round(average_per_day,2)' %}

	{% postprocessmanager
		id="metric-search-perhour"
		managerid="metric-search-per-hour"
		auto_cancel=60
		search=' | stats avg(Total_per_hour_MB) As average_per_hour | eval average_per_hour=round(average_per_hour,2)' %}

	{% searchmanager
		id="metric-rate-search"
		search='index=_internal source=*metrics.log group=per_index_thruput series="nmon" | stats avg(kbps) As avg_kbps, max(kbps) As max_kbps | eval avg_kbps=round(avg_kbps,2) | eval max_kbps=round(max_kbps,2)'|token_safe
		earliest_time="$earlyval$"|token_safe
		latest_time="$lateval$"|token_safe
		preview=True
		auto_cancel=60
		cache=False %}
		
	{% searchmanager
		id="metric-timechartsearch"
		search='index=_internal source=*metrics.log group=per_index_thruput series="nmon" | eval MB = round(kb/1024,2) | timechart limit=0 useother=f sum(MB) by series | fillnull value=0'|token_safe
		earliest_time="$earlyval$"|token_safe
		latest_time="$lateval$"|token_safe
		preview=True
		auto_cancel=60
		cache=False %}

	{% searchmanager
		id="metric-rate-timechartsearch"
		search='index=_internal source=*metrics.log group=per_index_thruput series="nmon" | timechart limit=0 useother=f avg(kbps) As Avg_kbps | fillnull value=0'|token_safe
		earliest_time="$earlyval$"|token_safe
		latest_time="$lateval$"|token_safe
		preview=True
		auto_cancel=60
		cache=False %}
	
<!-- Application Activity -->

<!-- Hits per page -->

	{% searchmanager
		id="hitsperpage-search"
		search='index=_internal sourcetype=*web_access* OR sourcetype=*django_access* uri=*/app/nmon/* OR uri=*/dj/*/nmon/* method=GET file!=*.png AND file!=*.css AND file!=*.js AND file!=*.svg AND file!=Home* AND file!=report'|token_safe
		earliest_time="$earlyval$"|token_safe
		latest_time="$lateval$"|token_safe
		preview=True
		auto_cancel=60
		cache=False %}

	{% postprocessmanager
		id="hitsperpage-top1"
		managerid="hitsperpage-search"
		auto_cancel=60
		search=' | top 1 file' %}

	{% postprocessmanager
		id="hitsperpage-chart-search"
		managerid="hitsperpage-search"
		search=' | timechart limit=45 useother=f count by file' %}

	{% postprocessmanager
		id="hitsperpage-table-search"
		managerid="hitsperpage-search"
		auto_cancel=60
		search='| top 1000 file | eval percent=round(percent,2)' %}

<!-- Scheduler Activity for the Application -->

	{% searchmanager
		id="scheduler-chart-search"
		search='index=_internal host="*" source=*scheduler.log status="*" AND status!="continued" app="nmon" | timechart limit=0 count by app'|token_safe
		earliest_time="$earlyval$"|token_safe
		latest_time="$lateval$"|token_safe
		auto_cancel=60
		preview=True
		cache=False %}

{% endblock managers %}



{% block js %}
{{ block.super }}
<script>
    require([
        "splunkjs/ready!", 
        "splunkjs/mvc/utils",
        "underscore",
        "jquery",
        "splunkjs/mvc/dropdownview"		
        ], 
        function(
            mvc, 
            utils,
            _, 
            $,
            DropdownView
        		){
				
				splunkjs.mvc.Components.getInstance("nmon_processing_size_chart").settings.set({
				"charting.axisY.minimumNumber": "0",
				"charting.legend.placement": "bottom",
				"charting.axisTitleX.text": "Time",
				"charting.axisTitleY.text": "Volume (MB)",
				"charting.chart.nullValueMode": "gaps",
				"charting.chart.stackMode": "stacked",
				});									

				splunkjs.mvc.Components.getInstance("nmon_processing_elapsed_chart").settings.set({
				"charting.axisY.minimumNumber": "0",
				"charting.legend.placement": "bottom",
				"charting.axisTitleX.text": "Time",
				"charting.axisTitleY.text": "Seconds",
				"charting.chart.nullValueMode": "gaps",
				"charting.chart.stackMode": "stacked",
				});									
			
				splunkjs.mvc.Components.getInstance("metric-chart").settings.set({
				"charting.axisY.minimumNumber": "0",
				"charting.legend.placement": "bottom",
				"charting.axisTitleX.text": "Time",
				"charting.axisTitleY.text": "Volume (MB)",
				"charting.chart.nullValueMode": "gaps",
				"charting.chart.stackMode": "stacked",
				});									

				splunkjs.mvc.Components.getInstance("metric-rate-chart").settings.set({
				"charting.axisY.minimumNumber": "0",
				"charting.legend.placement": "bottom",
				"charting.axisTitleX.text": "Time",
				"charting.axisTitleY.text": "Indexing Rate (kbps)",
				"charting.chart.nullValueMode": "gaps",
				"charting.chart.stackMode": "stacked",
				});									

				splunkjs.mvc.Components.getInstance("hitsperpage-chart").settings.set({
				"charting.axisY.minimumNumber": "0",
				"charting.legend.placement": "bottom",
				"charting.axisTitleX.text": "Time",
				"charting.axisTitleY.text": "Nbr of Hits per page",
				"charting.chart.nullValueMode": "gaps",
				"charting.chart.stackMode": "stacked",				
				});
				
				splunkjs.mvc.Components.getInstance("scheduler-chart").settings.set({
				"charting.axisY.minimumNumber": "0",
				"charting.legend.placement": "bottom",
				"charting.axisTitleX.text": "Time",
				"charting.axisTitleY.text": "Jobs",
				"charting.chart.nullValueMode": "gaps",
				"charting.chart.stackMode": "unstacked",				
				});
				
    });
</script>
{% endblock js %}
