{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}
{% block title %}NMON Performance Monitor{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}nmon/System.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
{% endblock css %}

{% block content %}
<div class="dashboard-body container-fluid main-section-body html">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2> {% block heading %}Toolkit Component Sample{% endblock heading %} </h2>
        </div>
    </div>	

    <div class="dashboard-row">
				{% block usage %}<p>Something should be here</p>{% endblock usage %}
				<p></p>
	</div>

    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>
							<div style="text-align: center;">
                        <h1>Nmon Processing statistics</h1>
                    </div>
                </div>
            </div>
        </div>
	</div>


    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
						
								{% block nmon_processing %}<p>Something should be here</p>{% endblock nmon_processing %}

                    </div>
                </div>
            </div>
        </div>
	</div>

    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
						
								{% block nmon_processing_size_timechart %}<p>Something should be here</p>{% endblock nmon_processing_size_timechart %}

                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
						
								{% block nmon_processing_elapsed_timechart %}<p>Something should be here</p>{% endblock nmon_processing_elapsed_timechart %}

                    </div>
                </div>
            </div>
        </div>
	</div>

    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>
							<div style="text-align: center;">
                        <h1>Application Indexes statistics</h1>
                    </div>
                </div>
            </div>
        </div>
	</div>

    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>

                    <div class="panel-body">
                        {% block eventcount %}<p>Something should be here</p>{% endblock eventcount %}
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>

                    <div class="panel-body">
                        {% block metadata %}<p>Something should be here</p>{% endblock metadata %}
                    </div>
                </div>
            </div>
        </div>
                
    </div>

    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>
							<div style="text-align: center;">
                        <h1>Application Activity</h1>
                    </div>
                </div>
            </div>
        </div>
	</div>

    
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>

                    <div class="panel-body">
                        {% block metric %}<p>Something should be here</p>{% endblock metric %}
                    </div>
                </div>
            </div>
        </div>

	</div>
	
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>

                    <div class="panel-body">
                        {% block metric-timechart %}<p>Something should be here</p>{% endblock metric-timechart %}
                    </div>
                </div>
            </div>
        </div>
	</div>	


    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>

                    <div class="panel-body">
                        {% block hitsperpage %}<p>Something should be here</p>{% endblock hitsperpage %}
                    </div>
                </div>
            </div>
        </div>
	</div>
	
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>

                    <div class="panel-body">
                        {% block scheduler %}<p>Something should be here</p>{% endblock scheduler %}
                    </div>
                </div>
            </div>
        </div>
	</div>	
       
</div>
{% endblock content%}

{% block managers %}

{% endblock managers %}

{% block _js %}
{{block.super}}
<script type="text/javascript">
require.config({
    shim: {
        "nmon/contrib/prettify": {
            deps: [],
            exports: "prettyPrint"
        } 
    }
});
require(["nmon/contrib/prettify"], function(prettyPrint) {
    //formats code samples
    prettyPrint();
});    
</script>

{% endblock _js %}