{% extends "UI_BubbleChart_body.html" %}

{% load splunkmvc %}
{% load splunk_wftoolkit %}


{% block css %}
{{block.super}}
<style type="text/css">
#bubble1{
   height: 600px;
}
#d3chart1{
   height: 600px;
}
</style>
{% endblock css %}


    {% block heading %}

	<div class="customimgheader">
	
	<img src="{{STATIC_URL}}/nmon/logos/NMON_simplelogo.png" alt="Nmon"/>	
	<h1>NMON TOP Hosts, Higher CPU Load Hosts </h1>

	</div>        
    
    {% endblock heading %}
    
    
    
    {% block bubblechart %}
        	
		{% searchcontrols id="searchcontrol1" managerid="search1" %}	
			
		{% bubblechart 
            id="bubble1" 
            managerid="search1"
            valueField="usage"
            labelField="hostname"
            categoryField="hostname" %}
		
    {% endblock bubblechart %}
	

    {% block usage%}

      <p>Change your parameters if required:</p>
		<p> </p>

		
        <table class="table table-striped table-bordered">


            <tr>
                <td>
				
				<p></p>
                <b>TimeRange:</b>.
                </td>
                <td>
					<p></p>
    				{% timerange id="timerange" 
					managerid="search1" 
        			preset="Last 30 days"
        			earliest_time="$earlyval$"|token_safe
        			latest_time="$lateval$"|token_safe %}                
					<p></p>                
                </td>
            </tr>
	
            <tr>
                <td>
					<p></p>
					<b>Select a Monitor:</b>.
				</td>
					<td>
					<p></p>
					{% dropdown id="monitor-dropdown" width="250" default="none" value="$valuesmonitor$"|token_safe %}	
				</td>
            </tr>			
			
            <tr>
                <td>
					<p></p>
					<b>Select a Stats Mode:</b>.
                </td>
                <td>
					<p></p>
					{% dropdown id="stats-dropdown" width="250" default="max" value="$valuesstats$"|token_safe %}	
				</td>
            </tr>

        </table>
		
    {% endblock usage%}

    {% block d3chart %}
	
	{% searchcontrols id="searchcontrol2" managerid="search2" %}
	
        {% d3chart 
            id="d3chart1"
            managerid="post1"
			type="discreteBarChart"
            valueField="usage"
            labelField="hostname"
            categoryField="hostname" %}
		
    {% endblock d3chart %}

    {% block table %}

		{% table 
		id="table1" 
		managerid="post2"
		pageSize="20" %}
			
    {% endblock table %}

	
{% block managers %}
    
	{% searchmanager 
	id="search1"
	search='index=nmon earliest="$earlyval$" latest="$lateval$" type=$valuesmonitor$ | stats $valuesstats$(usage) As usage by hostname | sort - usage | head 100'|token_safe 
	preview=True %}
	
	{% searchmanager 
	id="search2" 
	search='index=nmon earliest="$earlyval$" latest="$lateval$" type=$valuesmonitor$ | stats $valuesstats$(usage) As usage, $valuesstats$(pct_usage) As pct_usage, max(entitled) As entitled, max(virtualCPUs) As virtualCPUs by hostname | fields hostname,usage,pct_usage,*'|token_safe 
	preview=True %}
	
	{% postprocessmanager 
	id="post1" 
	managerid="search2" 
	search="| sort - pct_usage | fields hostname,usage | head 20" %}
	
	{% postprocessmanager 
	id="post2" 
	managerid="search2" 
	search="| sort hostname" %}
	
	
{% endblock managers %}

{% block js %}
{{ block.super }}
<script>
    require([
        "splunkjs/ready!", 
        "splunkjs/mvc/utils",
        "underscore",
        "jquery",
        "splunkjs/mvc/dropdownview"
        ], 
        function(
            mvc, 
            utils,
            _, 
            $,
            DropdownView
        		){

		var choices = [
        {label: " CPU_ALL - CPU Usage in %", value: "CPU_ALL | eval usage=(Sys_PCT+User_PCT+Wait_PCT) | eval pct_usage=(Sys_PCT+User_PCT+Wait_PCT)"},
        {label: " LPAR - MicroPartition CPU Usage in VCPUs", value: "LPAR | eval usage=round(((VP_User_PCT+VP_Sys_PCT+VP_Wait_PCT+VP_Idle_PCT)*virtualCPUs/100),2) | eval pct_usage=round((VP_User_PCT+VP_Sys_PCT+VP_Wait_PCT+VP_Idle_PCT),2)"},
        {label: " LPAR - Pools CPU Usage in VCPUs", value: "LPAR PoolIdle>0 | eval usage=round((poolCPUs-PoolIdle),2) | where usage>0 AND usage<poolCPUs | eval pct_usage=round(((poolCPUs-PoolIdle)*poolCPUs/100),2)"},
        ] 
 
		// Assign them to the button group
		splunkjs.mvc.Components.getInstance("monitor-dropdown").settings.set("choices", choices);
		
		var choices = [
        {label: " Max", value: "max"},
        {label: " Average", value: "avg"},
        ] 
 
		// Assign them to the button group
		splunkjs.mvc.Components.getInstance("stats-dropdown").settings.set("choices", choices);
		
		
    });
</script>

{% endblock js %}
