{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}
{% block title %}NMON Performance Monitor{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}nmon/Bubble.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
<link rel="stylesheet" href="{{STATIC_URL}}nmon/contrib/prettify.css"/>
{% endblock css %}

{% block content %}
<div class="dashboard-body container-fluid main-section-body html">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2> {% block heading %}NMON Top Hosts{% endblock heading %} </h2>
        </div>
    </div>	
		
    <div class="dashboard-cell" style="width: 50%;">
          <div class="dashboard-panel">
                <div class="dashboard-element">
                   <div class="panel-body html">
                      {% block usage %}<p>Explanation of usage</p>{% endblock usage %}
                  </div>
              </div>
          </div>
    </div>

    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>

					<div style="text-align: center;">
						<h1>TOP 100: Graphical Representation of Hosts (ordered by CPU Usage)</h1>
					</div>	
					
                    <div class="panel-body">
                        {% block bubblechart %}<p>Something should be here</p>{% endblock bubblechart %}
                    </div>
					
                </div>
            </div>
        </div>	

	</div>		

    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>

					<div style="text-align: center;">
						<h1>TOP 20 CPU Usage Hosts (ordered by CPU Usage percentage of capacity)</h1>
					</div>					
					
                    <div class="panel-body">
                        {% block d3chart %}<p>Something should be here</p>{% endblock d3chart %}
                    </div>
					
                </div>
            </div>
        </div>	

	</div>	
 
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>

					<div style="text-align: center;">
						<h1>Hosts CPU Usage Table Stats (ordered by hostname)</h1>
					</div>					
					
                    <div class="panel-body">
                        {% block table %}<p>Something should be here</p>{% endblock table %}
                    </div>
					
                </div>
            </div>
        </div>	

	</div> 
 
</div>


{% endblock content%}

{% block managers %}

{% endblock managers %}

{% block _js %}
{{block.super}}
<script type="text/javascript">
require.config({
    shim: {
        "nmon/contrib/prettify": {
            deps: [],
            exports: "prettyPrint"
        } 
    }
});
require(["nmon/contrib/prettify"], function(prettyPrint) {
    //formats code samples
    prettyPrint();
});    
</script>

{% endblock _js %}
