{% extends "UI_BubbleChart_body.html" %}

{% load splunkmvc %}
{% load nmon %}


{% block css %}
{{block.super}}
<style type="text/css">
#bubble1{
   height: 600px;
}
#d3chart1{
   height: 600px;
}
</style>
{% endblock css %}


    {% block heading %}

	<div class="customimgheader">
	
	<img src="{{STATIC_URL}}/nmon/logos/NMON_simplelogo.png" alt="Nmon"/>	
	<h1>NMON TOP Hosts, Higher CPU Load Hosts </h1>

	</div>        
    
    {% endblock heading %}
    
    
    
    {% block bubblechart %}
        	
		{% searchcontrols id="searchcontrol1" managerid="search1" %}	
			
		{% bubblechart 
            id="bubble1" 
            managerid="search1"
            valueField="usage"
            labelField="hostname"
            categoryField="hostname" %}
		
    {% endblock bubblechart %}
	

    {% block usage%}

        <table class="table table-striped table-bordered">


            <tr>
                <td>
				
				<p></p>
                <h2>TimeRange:</h2>
                </td>
                <td>
					<p></p>
    				{% timerange id="timerange" 
					managerid="search1" 
        			preset="Last 24 hours"
        			earliest_time="$earlyval$"|token_safe
        			latest_time="$lateval$"|token_safe %}                
					<p></p>                
                </td>
            </tr>

            <tr>
                <td>
					 <p></p>
                <h2>Time Filtering:</h2>
                </td>
                <td>
                	<p></p>
						{% dropdown id="filtertime-dropdown" width="200" default="No_Filter" value="$valuesfiltertime$"|token_safe %}
						<p></p>                
                </td>
            </tr>		

            <tr>
                <td>
					<p></p>
					<h2>Optional Filters</h2>
				</td>
					<td>

                <p></p>                
                <h2>Filter OS Type:</h2>
                <p></p>                
                {% radiogroup id="osfilter-radiogroup" default="| search [ `nmon_inventory` | search OStype=AIX | stats count by hostname | fields hostname ]" value="$valuesosfilter$"|token_safe%}
					
					<h2>Hosts Filtering:</h2>					

					<p></p>
					<p>Multiple patterns can be used including wildwards and logical operators,ex: SP* OR SQ*</p>					
					
					{% textinput id="hosts-textinput" value="$valueshosts$"|token_safe default="*" %}	

					<h2>PSeries Filtering - AIX Serial Number: (can be pre-filtered by Hosts filter)</h2>					

					<p></p>
					<p>Enter or Select AIX Serial Numbers, in PSeries environment the S/N of AIX hosts is the PSeries S/N</p>					
					
					{% dropdown id="sn-dropdown" managerid="sn-populate" valueField="AIX_Machine_SerialNumber" default="*" value="$valuesserialnum$"|token_safe %}						

				</td>
            </tr>			
	
            <tr>
                <td>
					<p></p>
					<h2>Select a Monitor:</h2>
				</td>
					<td>
					<p></p>

					<h2>Monitors Information:</h2>

					<li>CPU_ALL: CPU Usage in Percentage</li>
					<li>LPAR: Micro Partition Usage in VPs</li>
					<li>LPAR: Default Pool Usage in VPs (keeping 1 partition per PSeries)</li>

					<p></p>
										
					{% dropdown id="monitor-dropdown" width="250" value="$valuesmonitor$"|token_safe %}	
				</td>
            </tr>			
			
            <tr>
                <td>
					<p></p>
					<h2>Select a Stats Mode:</h2>
                </td>
                <td>
					<p></p>
					{% dropdown id="stats-dropdown" width="250" default="avg" value="$valuesstats$"|token_safe %}	
				</td>
            </tr>

        </table>
		
    {% endblock usage%}

    {% block d3chart %}
	
	{% searchcontrols id="searchcontrol2" managerid="search2" %}
	
        {% d3chart 
            id="d3chart1"
            managerid="post1"
				type="discreteBarChart"
            valueField="usage"
            labelField="hostname"
            categoryField="hostname" %}
		
    {% endblock d3chart %}

    {% block table %}

		{% table 
		id="table1" 
		managerid="post2"
		pageSize="20"
		displayRowNumbers="true" %}
			
    {% endblock table %}
cddd
	
{% block managers %}

<!-- Populate -->

	<!-- Populate dropdown (main search) -->
	
	{% searchmanager
		id="sn-populate" search='| inputlookup nmon_inventory | search hostname=$valueshosts$ | stats count by AIX_Machine_SerialNumber | sort AIX_Machine_SerialNumber'|token_safe
		earliest_time="$earlyval$"|token_safe
		latest_time="$lateval$"|token_safe
		cache=True
		auto_cancel=60
		preview=True %}

    
	{% searchmanager 
		id="search1"
		search='index=nmon sourcetype=nmon_data hostname=$valueshosts$ serialnum=*$valuesserialnum$* $valuesmonitor$ $valuesosfilter$ | `$valuesfiltertime$` | stats $valuesstats$(usage) As usage by hostname | sort - usage | head 100'|token_safe 
		earliest_time="$earlyval$"|token_safe
		latest_time="$lateval$"|token_safe
		auto_cancel=60
		cache=False
		preview=True %}
	
	{% searchmanager 
		id="search2" 
		search='index=nmon sourcetype=nmon_data hostname=$valueshosts$ serialnum=*$valuesserialnum$* $valuesmonitor$ $valuesosfilter$ | `$valuesfiltertime$` | stats $valuesstats$(usage) As usage, $valuesstats$(pct_usage) As pct_usage, max(entitled) As entitled, max(virtualCPUs) As virtualCPUs by hostname,serialnum | fields hostname,serialnum,usage,pct_usage,*'|token_safe 
		earliest_time="$earlyval$"|token_safe
		latest_time="$lateval$"|token_safe
		auto_cancel=60
		cache=False
		preview=True %}
	
	{% postprocessmanager 
		id="post1" 
		managerid="search2" 
		search="| sort - pct_usage | fields hostname,usage | head 20" %}
	
	{% postprocessmanager 
		id="post2" 
		managerid="search2" 
		search="| sort hostname" %}
	
	
{% endblock managers %}

{% block js %}
{{ block.super }}
<script>
    require([
        "splunkjs/ready!", 
        "splunkjs/mvc/utils",
        "underscore",
        "jquery",
        "splunkjs/mvc/dropdownview"
        ], 
        function(
            mvc, 
            utils,
            _, 
            $,
            DropdownView
        		){

		var choices = [
        {label: " CPU_ALL - CPU Usage in %", value: "type=CPU_ALL | eval usage=(Sys_PCT+User_PCT+Wait_PCT) | eval pct_usage=(Sys_PCT+User_PCT+Wait_PCT)"},
        {label: " LPAR - MicroPartition CPU Usage in VCPUs", value: "type=LPAR | eval usage=round(((VP_User_PCT+VP_Sys_PCT+VP_Wait_PCT+VP_Idle_PCT)*virtualCPUs/100),2) | eval pct_usage=round((VP_User_PCT+VP_Sys_PCT+VP_Wait_PCT+VP_Idle_PCT),2)"},
        {label: " LPAR - Default Pools CPU Usage in VCPUs", value: "type=LPAR Pool_id=0 PoolIdle>0 | eval usage=round((poolCPUs-PoolIdle),2) | where usage>0 AND usage<poolCPUs | eval pct_usage=round((usage*100/poolCPUs),2) | stats max(usage) As usage, max(pct_usage) As pct_usage by hostname,serialnum | dedup serialnum "},
        ] 
 
		// Assign them to the button group
		splunkjs.mvc.Components.getInstance("monitor-dropdown").settings.set("choices", choices);

		var choices = [
        {label: " Max", value: "max"},
        {label: " Average", value: "avg"},
        ] 
 
		// Assign them to the button group
		splunkjs.mvc.Components.getInstance("stats-dropdown").settings.set("choices", choices);
		
		var choices = [
        {label: " AIX", value: "| search [ `nmon_inventory` | search OStype=AIX | stats count by hostname | fields hostname ]"},
        {label: " Inactive", value: ""}                
        ] 
 
		// Assign them to the button group
		splunkjs.mvc.Components.getInstance("osfilter-radiogroup").settings.set("choices", choices);	
		
		var choices = [
        {label: " No Filter", value: "No_Filter"},
        {label: " Day BusinessDays 8h-19h", value: "Day_BusinessDays_8h-19h"},
        {label: " Day WeekEnd 8h-19h", value: "Day_WeekEnd_8h-19h"},
        {label: " Day AllDays 8h-19h", value: "Day_AllDays_8h-19h"},        
        {label: " Night BusinessDays 19h-8h", value: "Night_BusinessDays_19h-8h"},
        {label: " Night WeekEnd 19h-8h", value: "Night_WeekEnd_19h-8h"},
        {label: " Night AllDays 19h-8h", value: "Night_AllDays_19h-8h"}
        ] 
 
		// Assign them to the button group
		splunkjs.mvc.Components.getInstance("filtertime-dropdown").settings.set("choices", choices);
		
		
    });
</script>

{% endblock js %}
