{% extends "UI_BubbleChart_body.html" %}

{% load splunkmvc %}
{% load nmon %}


{% block css %}
{{block.super}}
<style type="text/css">
#bubble1{
   height: 600px;
}
#d3chart1{
   height: 600px;
}
</style>
{% endblock css %}


    {% block heading %}

	<div class="customimgheader">
	
	<img src="{{STATIC_URL}}/nmon/logos/NMON_simplelogo.png" alt="Nmon"/>	
	<h1>NMON TOP Hosts, Higher CPU Load Hosts </h1>

	</div>        
    
    {% endblock heading %}
    
    
    
    {% block bubblechart %}
        	
		{% searchcontrols id="searchcontrol1" managerid="search1" %}	
			
		{% bubblechart 
            id="bubble1" 
            managerid="search1"
            valueField="usage"
            labelField="hostname"
            categoryField="hostname" %}
		
    {% endblock bubblechart %}
	

    {% block usage%}

        <table class="table table-striped table-bordered">


            <tr>
                <td>
				
				<p></p>
                <h2>TimeRange:</h2>
                </td>
                <td>
					<p></p>
    				{% timerange id="timerange" 
					managerid="search1" 
        			preset="Last 24 hours"
        			earliest_time="$earlyval$"|token_safe
        			latest_time="$lateval$"|token_safe %}                
					<p></p>                
                </td>
            </tr>

            <tr>
                <td>
					 <p></p>
                <h2>Time Filtering:</h2>
                </td>
                <td>
                	<p></p>
						{% dropdown id="filtertime-dropdown" width="200" default="No_Filter" value="$valuesfiltertime$"|token_safe %}
						<p></p>                
                </td>
            </tr>		

            <tr>
                <td>
					<p></p>
					<h2>Optional: Filter hosts</h2>
				</td>
					<td>

                <p></p>                
                <h2>Filter OS Type:</h2>
                <p></p>                
                {% radiogroup id="osfilter-radiogroup" default="| search [ `nmon_inventory` | search OStype=Solaris | stats count by hostname | fields hostname ]" value="$valuesosfilter$"|token_safe%}

					<h2>Hosts Filtering:</h2>					

					<p></p>
					<p>Multiple patterns can be used including wildwards and logical operators,ex: SP* OR SQ*</p>					
					
					{% textinput id="hosts-textinput" value="$valueshosts$"|token_safe default="*" %}	

				</td>
            </tr>			
	
            <tr>
                <td>
					<p></p>
					<h2>Select a Stats Mode:</h2>
                </td>
                <td>
					<p></p>
					{% dropdown id="stats-dropdown" width="250" default="avg" value="$valuesstats$"|token_safe %}	
				</td>
            </tr>

        </table>
		
    {% endblock usage%}

    {% block d3chart %}
	
	{% searchcontrols id="searchcontrol2" managerid="search2" %}
	
        {% d3chart 
            id="d3chart1"
            managerid="post1"
				type="discreteBarChart"
            valueField="usage"
            labelField="hostname"
            categoryField="hostname" %}
		
    {% endblock d3chart %}

    {% block table %}

		{% table 
		id="table1" 
		managerid="post2"
		pageSize="20"
		displayRowNumbers="true" %}
			
    {% endblock table %}

	
{% block managers %}
    
	{% searchmanager 
	id="search1"
	search='index=nmon sourcetype=nmon_data $valueshosts$ type=CPU_ALL | eval usage=(Sys_PCT+User_PCT+Wait_PCT) $valuesosfilter$ | `$valuesfiltertime$` | stats $valuesstats$(usage) As usage by hostname | sort - usage | head 100'|token_safe 
	earliest_time="$earlyval$"|token_safe
	latest_time="$lateval$"|token_safe
	auto_cancel=60
	cache=False
	preview=True %}
	
	{% searchmanager 
	id="search2" 
	search='index=nmon sourcetype=nmon_data $valueshosts$ type=CPU_ALL | eval usage=(Sys_PCT+User_PCT+Wait_PCT) $valuesosfilter$ | `$valuesfiltertime$` | stats $valuesstats$(usage) As usage by hostname'|token_safe 
	earliest_time="$earlyval$"|token_safe
	latest_time="$lateval$"|token_safe
	auto_cancel=60
	cache=False
	preview=True %}
	
	{% postprocessmanager 
	id="post1" 
	managerid="search2" 
	search="| sort - usage | fields hostname,usage | head 20" %}
	
	{% postprocessmanager 
	id="post2" 
	managerid="search2" 
	search="| sort hostname" %}
	
	
{% endblock managers %}

{% block js %}
{{ block.super }}
<script>
    require([
        "splunkjs/ready!", 
        "splunkjs/mvc/utils",
        "underscore",
        "jquery",
        "splunkjs/mvc/dropdownview"
        ], 
        function(
            mvc, 
            utils,
            _, 
            $,
            DropdownView
        		){

		var choices = [
        {label: " Max", value: "max"},
        {label: " Average", value: "avg"},
        ] 
 
		// Assign them to the button group
		splunkjs.mvc.Components.getInstance("stats-dropdown").settings.set("choices", choices);
		
		var choices = [
        {label: " No Filter", value: "No_Filter"},
        {label: " Day BusinessDays 8h-19h", value: "Day_BusinessDays_8h-19h"},
        {label: " Day WeekEnd 8h-19h", value: "Day_WeekEnd_8h-19h"},
        {label: " Day AllDays 8h-19h", value: "Day_AllDays_8h-19h"},        
        {label: " Night BusinessDays 19h-8h", value: "Night_BusinessDays_19h-8h"},
        {label: " Night WeekEnd 19h-8h", value: "Night_WeekEnd_19h-8h"},
        {label: " Night AllDays 19h-8h", value: "Night_AllDays_19h-8h"}
        ] 
 
		// Assign them to the button group
		splunkjs.mvc.Components.getInstance("filtertime-dropdown").settings.set("choices", choices);
		
		var choices = [
        {label: " Solaris", value: "| search [ `nmon_inventory` | search OStype=Solaris | stats count by hostname | fields hostname ]"},
        {label: " Inactive", value: ""}                
        ] 
 
		// Assign them to the button group
		splunkjs.mvc.Components.getInstance("osfilter-radiogroup").settings.set("choices", choices);				
		
		
    });
</script>

{% endblock js %}
