{% extends "UI_BubbleChart_body.html" %}

{% load splunkmvc %}
{% load nmon %}


{% block css %}
{{block.super}}
<style type="text/css">

#bubble1{
   height: 600px;
}
#d3chart1{
   height: 600px;
}

.html h3 {
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
}

</style>
{% endblock css %}


    {% block heading %}

	<div class="customimgheader">
	
	<img src="{{STATIC_URL}}/nmon/logos/NMON_simplelogo.svg" alt="Nmon"/>	
	<h1>NMON TOP Hosts, Higher CPU Load Hosts </h1>

	</div>        
    
    {% endblock heading %}
    
    
    
    {% block bubblechart %}
        	
		{% searchcontrols id="searchcontrol1" managerid="search1" %}	
			
		{% bubblechart 
            id="bubble1" 
            managerid="search1"
            valueField="usage"
            labelField="hostname"
            categoryField="hostname" %}
		
    {% endblock bubblechart %}
	

    {% block usage%}

        <div class="input input-timerangepicker" id="timerange">
            <label>Time Range:</label>
    			  {% timerange id="timerange" managerid="search1" preset="Last 24 hours" earliest_time="$earlyval$"|token_safe latest_time="$lateval$"|token_safe %}
        </div>

        <div class="input input-dropdown" id="filtertime-dropdown">
            <label>Time Filtering:</label>
				  {% dropdown id="filtertime-dropdown" default="No_Filter" value="$timefilter$"|token_safe %}
        </div>

        <div class="input input-dropdown" id="osfilter-dropdown">
            <label>Filter OS Type:</label>
              {% dropdown id="osfilter-dropdown" default="Linux" value="$OStype$"|token_safe%}
        </div>

        <div class="input input-dropdown" id="frameid-dropdown">
            <label>Frame IDs:</label>
					{% dropdown id="frameid-dropdown" managerid="frameid-populate" valueField="CPU.frameID" default="*" value="$frameID$"|token_safe %}
        </div>

        <div class="input input-text" id="hosts-textinput">
            <label>Optional: Filter hosts populating</label>
					{% textinput id="hosts-textinput" value="$hostname$"|token_safe default="*" %}
        </div>

        <div class="input input-dropdown" id="stats-dropdown">
            <label>Stats mode:</label>
					{% dropdown id="stats-dropdown" default="avg" value="$statsmode$"|token_safe %}
        </div>
		
    {% endblock usage%}

    {% block d3chart %}
	
	{% searchcontrols id="searchcontrol2" managerid="search2" %}
	
        {% d3chart 
            id="d3chart1"
            managerid="post1"
				type="discreteBarChart"
            valueField="usage"
            labelField="hostname"
            categoryField="hostname" %}
		
    {% endblock d3chart %}

    {% block table %}

		{% table 
		id="table1" 
		managerid="post2"
		pageSize="20"
		displayRowNumbers="true" %}
			
    {% endblock table %}

	
{% block managers %}
    
	{% searchmanager
		id="frameid-populate" search='| tstats count AS count from datamodel=NMON_Data_CPU where (CPU.OStype="$OStype$") (CPU.hostname="$hostname$") groupby "CPU.frameID", "CPU.hostname" prestats=true | stats dedup_splitvals=t count AS Count by "CPU.frameID", "CPU.hostname" | fields "CPU.frameID" | dedup "CPU.frameID" | sort "CPU.frameID"'|token_safe
		earliest_time="$earlyval$"|token_safe
		latest_time="$lateval$"|token_safe
		cache=False
		auto_cancel=60
		preview=True %}	
    
	{% searchmanager 
		id="search1" search='| tstats `CPU_ALL($statsmode$,$frameID$,$OStype$,$hostname$,$timefilter$)` | sort - usage | head 100'|token_safe 
		earliest_time="$earlyval$"|token_safe
		latest_time="$lateval$"|token_safe
		auto_cancel=60
		cache=False
		preview=True %}
	
	{% searchmanager 
		id="search2" search='| tstats `CPU_ALL($statsmode$,$frameID$,$OStype$,$hostname$,$timefilter$)` | fields frameID,hostname,usage,*'|token_safe 
		earliest_time="$earlyval$"|token_safe
		latest_time="$lateval$"|token_safe
		auto_cancel=60
		cache=False
		preview=True %}
	
	{% postprocessmanager 
		id="post1" 
		managerid="search2" 
		search="| eval usage_PCT=if(isnull(usage_PCT), usage, usage_PCT) | sort - usage_PCT | fields hostname,usage | head 20" %}
	
	{% postprocessmanager 
		id="post2" 
		managerid="search2" 
		search="| eval usage=round(usage, 3) | eval usage_PCT=round(usage_PCT, 3) | sort frameID,hostname" %}
	
	
{% endblock managers %}

{% block js %}
{{ block.super }}
<script>
    require([
        "splunkjs/ready!", 
        "splunkjs/mvc/utils",
        "underscore",
        "jquery",
        "splunkjs/mvc/dropdownview"
        ], 
        function(
            mvc, 
            utils,
            _, 
            $,
            DropdownView
        		){

		var choices = [
        {label: " Max", value: "max"},
        {label: " Average", value: "avg"},
        ] 
 
		// Assign them to the button group
		splunkjs.mvc.Components.getInstance("stats-dropdown").settings.set("choices", choices);
		
		var choices = [
        {label: " Any OS", value: "*"},		
        {label: " Linux", value: "Linux"}
        ] 
 
		// Assign them to the button group
		splunkjs.mvc.Components.getInstance("osfilter-dropdown").settings.set("choices", choices);
		
		var choices = [
        {label: " No Filter", value: "No_Filter"},
        {label: " Day BusinessDays 8h-19h", value: "Day_BusinessDays_8h-19h"},
        {label: " Day WeekEnd 8h-19h", value: "Day_WeekEnd_8h-19h"},
        {label: " Day AllDays 8h-19h", value: "Day_AllDays_8h-19h"},        
        {label: " Night BusinessDays 19h-8h", value: "Night_BusinessDays_19h-8h"},
        {label: " Night WeekEnd 19h-8h", value: "Night_WeekEnd_19h-8h"},
        {label: " Night AllDays 19h-8h", value: "Night_AllDays_19h-8h"}
        ] 
 
		// Assign them to the button group
		splunkjs.mvc.Components.getInstance("filtertime-dropdown").settings.set("choices", choices);
		
		var choices = [
        {label: " Any", value: "*"}
        ] 
 
		// Assign them to the button group
		splunkjs.mvc.Components.getInstance("frameid-dropdown").settings.set("choices", choices);		
		
		
    });
</script>

{% endblock js %}
