{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}
{% block title %}NMON Predict Interface{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}nmon/Predict.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
{% endblock css %}

{% block content %}
<div class="dashboard-body container-fluid main-section-body html">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2> {% block heading %}Toolkit Component Sample{% endblock heading %} </h2>
        </div>
    </div>	
		
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Usage</h3>
                    </div>

                    <div class="panel-body html">
                        {% block usage %}<p>Explanation of usage</p>{% endblock usage %}
                    </div>
                </div>
            </div>
        </div>

    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>

					<div style="text-align: center;">
						<h1>Compare Table Stats:</h1>
					</div>					
					
                    <div class="panel-body">
                        {% block table1 %}<p>Something should be here</p>{% endblock table1 %}
                    </div>
                </div>
            </div>
        </div>
	</div>		

    <div class="dashboard-row">

        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>

					<div style="text-align: center;">
						<h1>Combined Chart: (Period 1 as Time line Reference)</h1>
					</div>					
					
                    <div class="panel-body">
                        {% block chart-combined %}<p>Something should be here</p>{% endblock chart-combined %}
                    </div>
                </div>
            </div>
        </div>

	</div>


    <div class="dashboard-row">

        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>

					<div style="text-align: center;">
						<h1>Period 1 Charting:</h1>
					</div>					
					
                    <div class="panel-body">
                        {% block chart-period1 %}<p>Something should be here</p>{% endblock chart-period1 %}
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>

					<div style="text-align: center;">
						<h1>Period 2 Charting:</h1>
					</div>					
					
                    <div class="panel-body">
                        {% block chart-period2 %}<p>Something should be here</p>{% endblock chart-period2 %}
                    </div>
                </div>
            </div>
        </div>
        
	</div>
    
	
</div>
{% endblock content%}

{% block managers %}

{% endblock managers %}

{% block _js %}
{{block.super}}
<script type="text/javascript">
require.config({
    shim: {
        "nmon/contrib/prettify": {
            deps: [],
            exports: "prettyPrint"
        } 
    }
});
require(["nmon/contrib/prettify"], function(prettyPrint) {
    //formats code samples
    prettyPrint();
});    
</script>

{% endblock _js %}
