{% extends "UI_Datacollect_data_body.html" %}

{% load splunkmvc %}
{% load nmon %}

5: {% block title %}Calendar Heatmap - NMON Performance{% endblock title %}

{% block css %}
{{block.super}}
{% endblock css %}

    {% block heading %}

	<div class="customimgheader">
	
	<img src="{{STATIC_URL}}/nmon/logos/NMON_simplelogo.svg" alt="Nmon"/>	
	<h1>NMON Data Analysis, Performance Monitors indexing</h1>

	</div>

	 {% endblock heading %} 
        
    {% block cal1 %}
 
	<div style="text-align: center;"> 
    
		{% single 
            id="single1-maxhosts" 
            managerid="maxhosts"
            field="count"
				underLabel="Max hosts per day" %}    

		{% single 
            id="single1-avghosts" 
            managerid="avghosts"
            field="count"
				underLabel="Avg hosts per day" %}    

		{% single 
            id="single1-minhosts" 
            managerid="minhosts"
            field="count"
				underLabel="Min hosts per day" %}    

	</div>

		{% searchcontrols
			id="searchcontrol1" 
			managerid="dcount" %}

		{% calendarheatmap 
                id="calendar1"
                managerid="dcount"
                domain="month"
                subDomain="x_day" %}
		
    {% endblock cal1 %}

    {% block cal2 %}

	<div style="text-align: center;">

		{% single 
            id="single1-maxevents" 
            managerid="maxevents"
            field="count"
				underLabel="Max events per day" %}    

		{% single 
            id="single1-avgevents" 
            managerid="avgevents"
            field="count"
				underLabel="Avg events per day" %}    

		{% single 
            id="single1-minevents" 
            managerid="minevents"
            field="count"
				underLabel="Min events per day" %}    

	</div>

		{% searchcontrols
			id="searchcontrol2" 
			managerid="count" %}

		{% calendarheatmap 
                id="calendar2"
                managerid="count"
                domain="month"
                subDomain="x_day" %}
		
    {% endblock cal2 %}
	
	
    {% block usage%}

        <table class="table table-striped table-bordered">
          <tr>
          
            <td>

              <h3>Time Range:</h3>

    			  {% timerange id="example-timerange" managerid="example-search" preset="Last 30 days" earliest_time="$earlyval$"|token_safe latest_time="$lateval$"|token_safe %}              

            </td>

            <td>

              <h3>Performance Monitor:</h3>

              {% dropdown id="filter-dropdowngroup" default="NMON_Data_CPU,CPU_ALL" value="$filterdatamodel$"|token_safe %}

            </td>

            <td>

				   <h3>Frame IDs:</h3>
				   				
					{% dropdown id="frameid-dropdown" managerid="frameid-populate" valueField="frameID" default="*" value="$frameID$"|token_safe %}						

            </td>

            <td>

				   <h3>Hosts Filtering:</h3>					
					
					{% textinput id="hosts-textinput" value="$hostname$"|token_safe default="*" %}	

            </td>

          </tr>
        </table>
	
    {% endblock usage%}
	
{% block managers %}

	<!-- Populate dropdown (main search) -->
	
	{% searchmanager id="frameid-populate"
			search='| pivot `frameID_populate($filterdatamodel$)`'|token_safe
			earliest_time="$earlyval$"|token_safe
			latest_time="$lateval$"|token_safe
			cache=False
			auto_cancel=60
			preview=True %}
    
	{% searchmanager id="dcount"
      	search='| pivot `heatmap_calendar_dcount($filterdatamodel$,$frameID$,$hostname$)`'|token_safe
			earliest_time="$earlyval$"|token_safe
			latest_time="$lateval$"|token_safe
			cache=False
			auto_cancel=60
			preview=True %}
			
	{% postprocessmanager
			id="maxhosts"
			managerid="dcount"
			auto_cancel=60
			search='stats max("Distinct count of hosts per day") AS count' %}
			
	{% postprocessmanager
			id="avghosts"
			managerid="dcount"
			auto_cancel=60
			search='stats avg("Distinct count of hosts per day") AS count | eval count=round(count,0)' %}		
			
	{% postprocessmanager
			id="minhosts"
			managerid="dcount"
			auto_cancel=60
			search='stats min("Distinct count of hosts per day") AS count' %}					

	{% searchmanager id="count"
      	search='| pivot `heatmap_calendar_count($filterdatamodel$,$frameID$,$hostname$)`'|token_safe
			earliest_time="$earlyval$"|token_safe
			latest_time="$lateval$"|token_safe
			cache=False
			auto_cancel=60
			preview=True %}

	{% postprocessmanager
			id="maxevents"
			managerid="count"
			auto_cancel=60
			search='stats max("Count of events per day") AS count' %}
			
	{% postprocessmanager
			id="avgevents"
			managerid="count"
			auto_cancel=60
			search='stats avg("Count of events per day") AS count | eval count=round(count,0)' %}		
			
	{% postprocessmanager
			id="minevents"
			managerid="count"
			auto_cancel=60
			search='stats min("Count of events per day") AS count' %}									

{% endblock managers %}



{% block js %}
{{ block.super }}
<script>
    require(["splunkjs/ready!",
            "jquery",
            "splunkjs/mvc/dropdownview",
            "nmon/components/calendarheatmap/calendarheatmap"
            ], 
            function(
                mvc,
                $,
                Dropdown,
                CalHeat) {

		var choices = [
        {label: " CPU_ALL ", value: "NMON_Data_CPU,CPU_ALL"},
        {label: " DISKBSIZE ", value: "NMON_Data_DISKBSIZE,DISKBSIZE"},
        {label: " DISKBUSY ", value: "NMON_Data_DISKBUSY,DISKBUSY"},
        {label: " DISKREAD/WRITE ", value: "NMON_Data_DISKREADWRITE,DISKREADWRITE"},
        {label: " DISKXFER ", value: "NMON_Data_DISKXFER,DISKXFER"},
        {label: " DISKRIO/WRIO ", value: "NMON_Data_DISKRIOWRIO,DISKRIOWRIO"},
        {label: " FILE ", value: "NMON_Data_FILE,FILE"},
        {label: " IOADAPT ", value: "NMON_Data_IOADAPT,IOADAPT"},
        {label: " LPAR ", value: "NMON_Data_CPU,LPAR"},
        {label: " MEM ", value: "NMON_Data_MEM,MEM"},
        {label: " MEMNEW ", value: "NMON_Data_MEMNEW,MEMNEW"},
        {label: " MEMUSE (AIX) ", value: "NMON_Data_MEMUSE,AIX"},
        {label: " MEMUSE (Solaris) ", value: "NMON_Data_MEMUSE,Solaris"},
        {label: " NET ", value: "NMON_Data_NET,NET"},
        {label: " NETERROR ", value: "NMON_Data_NET,NETERROR"},
        {label: " NETPACKET ", value: "NMON_Data_NET,NETPACKET"},
        {label: " NFSSVRV2 ", value: "NMON_Data_NFS,NFS_V2"},
        {label: " NFSSVRV3 ", value: "NMON_Data_NFS,NFS_V3"},
        {label: " NFSSVRV4 ", value: "NMON_Data_NFS,NFS_V4"},
        {label: " NFSCLIV2 ", value: "NMON_Data_NFS,NFSCLIV2"},
        {label: " NFSCLIV3 ", value: "NMON_Data_NFS,NFSCLIV3"},
        {label: " NFSCLIV4 ", value: "NMON_Data_NFS,NFSCLIV4"},
        {label: " PAGE ", value: "NMON_Data_PAGE,PAGE_AIX"},
        {label: " PROC ", value: "NMON_Data_PROC,PROC"},
        {label: " PROCSOL ", value: "NMON_Data_PROCSOL,PROCSOL"},	
        {label: " TOP ", value: "NMON_Data_TOP,TOP_ALLOS"},
        {label: " UARG ", value: "NMON_Data_UARG,UARG"},
        {label: " VM (Linux) ", value: "NMON_Data_VM,Linux"},
        {label: " VM (Solaris)", value: "NMON_Data_VM,Solaris"}        
        ]
 
		// Assign them to the button group
		splunkjs.mvc.Components.getInstance("filter-dropdowngroup").settings.set("choices", choices);
		
    });
</script>


{% endblock js %}
