{% extends "UI_Datacollect_body.html" %}

{% load splunkmvc %}
{% load nmon %}

5: {% block title %}Calendar Heatmap - NMON Performance{% endblock title %}

{% block css %}
{{block.super}}
{% endblock css %}

    {% block heading %}

	<div class="customimgheader">
	
	<img src="{{STATIC_URL}}/nmon/logos/NMON_simplelogo.png" alt="Nmon"/>	
	<h1>NMON Processing Analysis, Raw Data Processing</h1>

	</div>

	 {% endblock heading %}
    
    
    
    {% block cal1 %}

		{% searchcontrols
			id="searchcontrol1" 
			managerid="nmon_perday" %}
	
		{% calendarheatmap 
                id="calendar1"
                managerid="nmon_perday"
                domain="month"
                subDomain="x_day" %}
		
    {% endblock cal1 %}
	
	
    {% block cal2 %}

		{% searchcontrols
			id="searchcontrol2" 
			managerid="nmon_errorperday" %}
	
		{% calendarheatmap 
                id="calendar2"
                managerid="nmon_errorperday"
                domain="month"
                subDomain="x_day" %}
		
    {% endblock cal2 %}

    {% block cal3 %}

		{% searchcontrols
			id="searchcontrol3" 
			managerid="total_elapsed" %}
	
		{% calendarheatmap 
                id="calendar3"
                managerid="total_elapsed"
                domain="month"
                subDomain="x_day" %}
		
    {% endblock cal3 %}


    {% block usage%}

		<div>

			<br />
			
			<h2>TimeRange:</h2>
		
    		{% timerange id="example-timerange" 
			managerid="example-search" 
        	preset="Last 30 days"
        	earliest_time="$earlyval$"|token_safe
        	latest_time="$lateval$"|token_safe %}

			<br />
		
		</div>

		
    {% endblock usage%}
	
{% block managers %}
    
	{% searchmanager id="nmon_perday"
      	search='`nmon_processing` | eval size_MB=round((size_in_bytes/1000/1000),2) | timechart span=1d sum(size_MB) As "NMON Raw Data Volume proceeded per day (MB)"'|token_safe
			earliest_time="$earlyval$"|token_safe
			latest_time="$lateval$"|token_safe
			auto_cancel=60
			cache=True
			preview=True %}

	{% searchmanager id="nmon_errorperday"
      	search='`nmon_processing` error | timechart span=1d count(source) As "Number of Errors encountered per day"'|token_safe
			earliest_time="$earlyval$"|token_safe
			latest_time="$lateval$"|token_safe
			auto_cancel=60
			cache=True
			preview=True %}

	{% searchmanager id="total_elapsed"
      	search='`nmon_processing` | timechart span=1d sum(elapsed_in_seconds) As "Total Time Spent in NMON Data Processing"'|token_safe
			earliest_time="$earlyval$"|token_safe
			latest_time="$lateval$"|token_safe
			auto_cancel=60
			cache=True
			preview=True %}


{% endblock managers %}



{% block js %}
{{ block.super }}


{% endblock js %}
