{% extends "UI_Datacollect_data_body.html" %}

{% load splunkmvc %}
{% load nmon %}

5: {% block title %}Calendar Heatmap - NMON Performance{% endblock title %}

{% block css %}
{{block.super}}
{% endblock css %}

    {% block heading %}

	<div class="customimgheader">
	
	<img src="{{STATIC_URL}}/nmon/logos/NMON_simplelogo.png" alt="Nmon"/>	
	<h1>NMON Data Analysis, Performance Monitors indexing</h1>

	</div>

	 {% endblock heading %}
    
    
    
    {% block cal1 %}

		{% searchcontrols
			id="searchcontrol1" 
			managerid="nmon_perday" %}
	
		{% calendarheatmap 
                id="calendar1"
                managerid="nmon_perday"
                domain="month"
                subDomain="x_day" %}
		
    {% endblock cal1 %}
	
	
    {% block usage%}

        <table class="table table-striped table-bordered">


            <tr>
                <td>
					 <p></p>
                <h2>TimeRange:</h2>
                </td>
                <td>
                	<p></p>
    					{% timerange id="example-timerange" 
						managerid="example-search" 
        				preset="Last 30 days"
        				earliest_time="$earlyval$"|token_safe
        				latest_time="$lateval$"|token_safe %}                
						<p></p>                
                </td>
            </tr>

            <tr>
                <td>
                <h2>Stats by:</h2>
                </td>
                <td>
					 <p </p>
                {% radiogroup id="statmode-radiogroup" default="dc(hostname) As Number_of_Hosts_Collected_per_day" value="$statmode$"|token_safe %}
                </td>
            </tr>

            <tr>
                <td>
                <h2>Filter by NMON Performance Monitor:</h2>
                </td>
                <td>
					 <p </p>
                {% dropdown id="filter-dropdowngroup" default="CPU_ALL" value="$filtermode$"|token_safe %}
                </td>
            </tr>

        </table>

		
    {% endblock usage%}
	
{% block managers %}
    
	{% searchmanager id="nmon_perday"
      	search='index=nmon sourcetype=nmon_data type=$filtermode$ | timechart span=1d $statmode$'|token_safe
			earliest_time="$earlyval$"|token_safe
			latest_time="$lateval$"|token_safe
			cache=False
			auto_cancel=60
			preview=True %}

{% endblock managers %}



{% block js %}
{{ block.super }}
<script>
    require(["splunkjs/ready!",
            "jquery",
            "splunkjs/mvc/dropdownview",
            "nmon/components/calendarheatmap/calendarheatmap"
            ], 
            function(
                mvc,
                $,
                Dropdown,
                CalHeat) {

		var choices = [
        {label: " Number of Hosts collected per day (See filter above)", value: "dc(hostname) As Number_of_Hosts_Collected_per_day"},
        {label: " Number of Events per Performance Monitor (See filter above)", value: "count As Number_of_Events_per_Performance_Monitor"}] 
 
		// Assign them to the button group
		splunkjs.mvc.Components.getInstance("statmode-radiogroup").settings.set("choices", choices);		


		var choices = [
        {label: " All (No filter) ", value: "*"},
        {label: " CPU_ALL ", value: "CPU_ALL"},
        {label: " DISKBSIZE ", value: "DISKBSIZE"},
        {label: " DISKBUSY ", value: "DISKBUSY"},
        {label: " DISKREAD ", value: "DISKREAD"},
        {label: " DISKWRITE ", value: "DISKWRITE"},
        {label: " DISKXFER ", value: "DISKXFER"},
        {label: " DISKRIO ", value: "DISKRIO"},
        {label: " DISKWIO ", value: "DISKWIO"},
        {label: " FILE ", value: "FILE"},
        {label: " IOADAPT ", value: "IOADAPT"},
        {label: " LPAR ", value: "LPAR"},
        {label: " MEM ", value: "MEM"},
        {label: " MEMNEW ", value: "MEMNEW"},
        {label: " MEMUSE ", value: "MEMUSE"},
        {label: " NET ", value: "NET"},
        {label: " NETERROR ", value: "NETERROR"},
        {label: " NETPACKET ", value: "NETPACKET"},
        {label: " NFSSVRV2 ", value: "NFSSVRV2"},
        {label: " NFSSVRV3 ", value: "NFSSVRV3"},
        {label: " NFSSVRV4 ", value: "NFSSVRV4"},
        {label: " NFSCLIV2 ", value: "NFSCLIV2"},
        {label: " NFSCLIV3 ", value: "NFSCLIV3"},
        {label: " NFSCLIV4 ", value: "NFSCLIV4"},
        {label: " PAGE ", value: "PAGE"},
        {label: " PROC ", value: "PROC"},
        {label: " PROCSOL ", value: "PROCSOL"},	
        {label: " TOP ", value: "TOP"},
        {label: " UARG ", value: "UARG"}
        ]
 
		// Assign them to the button group
		splunkjs.mvc.Components.getInstance("filter-dropdowngroup").settings.set("choices", choices);
		
    });
</script>


{% endblock js %}
