{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}
{% block title %}NMON Performance Monitor{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
<link rel="stylesheet" href="{{STATIC_URL}}nmon/contrib/prettify.css"/>
<link rel="stylesheet" href="{{STATIC_URL}}nmon/cal-heatmap.css"/>
{% endblock css %}

{% block content %}
<div class="dashboard-body container-fluid main-section-body html">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2> {% block heading %}Toolkit Component Sample{% endblock heading %} </h2>
        </div>
    </div>	
		
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-body html">
                        {% block usage %}<p>Explanation of usage</p>{% endblock usage %}
                    </div>
                </div>
            </div>
        </div>


    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>
                    
                    <div style="text-align: center;">
                    		<h1>Volume of Raw Data Proceeded (in MB)</h1>                    
                    </div>

                    <div class="panel-body">
                        {% block cal1 %}<p>Something should be here</p>{% endblock cal1 %}
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>

                    <div style="text-align: center;">
                    		<h1>Errors in Data Processing (Count of)</h1>                    
                    </div>

                    <div class="panel-body">
                        {% block cal2 %}<p>Something should be here</p>{% endblock cal2 %}
                    </div>
                    
                </div>
            </div>
        </div>
	</div>		

    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>
                    
                    <div style="text-align: center;">
                    		<h1>Time Spent in Data Processing (in Seconds, conversion of NMON files)</h1>                    
                    </div>

                    <div class="panel-body">
                        {% block cal3 %}<p>Something should be here</p>{% endblock cal3 %}
                    </div>
                    
                </div>
            </div>
        </div>
	</div>		
    	
</div>
{% endblock content%}

{% block managers %}

{% endblock managers %}

{% block _js %}
{{block.super}}
<script type="text/javascript">
require.config({
    shim: {
        "nmon/contrib/prettify": {
            deps: [],
            exports: "prettyPrint"
        } 
    }
});
require(["nmon/contrib/prettify"], function(prettyPrint) {
    //formats code samples
    prettyPrint();
});    
</script>

{% endblock _js %}
