{% extends "splunkdj:base_with_app_bar.html" %}

{% load splunkmvc %}
{% block title %}NMON Performance Monitor{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}nmon/Bubble.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css">
<link rel="stylesheet" href="{{STATIC_URL}}splunk_wftoolkit/contrib/prettify.css"/>
{% endblock css %}

{% block content %}
<div class="dashboard-body container-fluid main-section-body html">
    <div class="row">
        <div class="span12 dashboard-header clearfix">
            <h2> {% block heading %}NMON Top Hosts{% endblock heading %} </h2>
        </div>
    </div>	
		
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Usage</h3>
                    </div>

                    <div class="panel-body html">
                        {% block usage %}<p>Explanation of usage</p>{% endblock usage %}
                    </div>
                </div>
            </div>
        </div>
	
    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>			

							<div style="text-align: center;">
								<br />
								<h1>TOP CPU Usage Statistics</h1>
							</div>
					
                    <div class="panel-body">
                        {% block cpu-searchcontrol %}<p>Something should be here</p>{% endblock cpu-searchcontrol %}
                    </div>
					
                </div>
            </div>
        </div>	
		
	</div>	

    <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>

					<div style="text-align: center;">
						<h1>TOP 30 CPU Usage Hosts</h1>
					</div>					
					
                    <div class="panel-body">
                        {% block d3chart-cpu %}<p>Something should be here</p>{% endblock d3chart-cpu %}
                    </div>
					
                </div>
            </div>
        </div>	

        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>

					<div style="text-align: center;">
						<h1>CPU Usage by Hosts</h1>
					</div>					
					
                    <div class="panel-body">
                        {% block table-cpu %}<p>Something should be here</p>{% endblock table-cpu %}
                    </div>
					
                </div>
            </div>
        </div>		
		
	</div>	
 
 
     <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>			

							<div style="text-align: center;">
								<br />								
								<h1>TOP Memory Usage Statistics (by percentage usage)</h1>
							</div>
					
                    <div class="panel-body">
                        {% block memory-searchcontrol %}<p>Something should be here</p>{% endblock memory-searchcontrol %}
                    </div>
					
                </div>
            </div>
        </div>	
		
	</div>
 
     <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>

					<div style="text-align: center;">
						<h1>TOP 30 Real Memory Usage Hosts</h1>
					</div>					
					
                    <div class="panel-body">
                        {% block d3chart-memory %}<p>Something should be here</p>{% endblock d3chart-memory %}
                    </div>
					
                </div>
            </div>
        </div>	

        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>

					<div style="text-align: center;">
						<h1>Real Memory Usage by Hosts</h1>
					</div>					
					
                    <div class="panel-body">
                        {% block table-memory %}<p>Something should be here</p>{% endblock table-memory %}
                    </div>
					
                </div>
            </div>
        </div>		
		
	</div>

     <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>

					<div style="text-align: center;">
						<h1>TOP 30 Swap Usage Hosts</h1>
					</div>					
					
                    <div class="panel-body">
                        {% block d3chart-swap %}<p>Something should be here</p>{% endblock d3chart-swap %}
                    </div>
					
                </div>
            </div>
        </div>	

        <div class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                    </div>

					<div style="text-align: center;">
						<h1>Swap Usage by Hosts</h1>
					</div>					
					
                    <div class="panel-body">
                        {% block table-swap %}<p>Something should be here</p>{% endblock table-swap %}
                    </div>
					
                </div>
            </div>
        </div>		
		
	</div>
 
</div>


{% endblock content%}

{% block managers %}

{% endblock managers %}

{% block _js %}
{{block.super}}
<script type="text/javascript">
require.config({
    shim: {
        "splunk_wftoolkit/contrib/prettify": {
            deps: [],
            exports: "prettyPrint"
        } 
    }
});
require(["splunk_wftoolkit/contrib/prettify"], function(prettyPrint) {
    //formats code samples
    prettyPrint();
});    
</script>

{% endblock _js %}
