{% extends "UI_Usage_per_process_body.html" %}

{% load splunkmvc %}
{% load splunk_wftoolkit %}


{% block css %}
{{block.super}}
<style type="text/css">

#cpu-bubble{
   height: 447px;
}

#d3chart-cpu{
   height: 400px;
}

#memory-bubble{
   height: 447px;
}

#d3chart-memory{
   height: 400px;
}

</style>
{% endblock css %}


    {% block heading %}

	<div class="customimgheader">
	
	<img src="{{STATIC_URL}}/nmon/logos/NMON_simplelogo.png" alt="Nmon"/>	
	<h1>NMON TOP: Resources Usage per Command Invocation</h1>

	</div>        
    
    {% endblock heading %}
    
    
   
    {% block usage%}

      <p>Change your parameters if required:</p>
		<p> </p>

		
        <table class="table table-striped table-bordered">


            <tr>
                <td>
				
				<p></p>
                <b>TimeRange:</b>.
                </td>
                <td>
					<p></p>
    				{% timerange id="timerange" 
					managerid="search1" 
        			preset="Last 24 hours"
        			earliest_time="$earlyval$"|token_safe
        			latest_time="$lateval$"|token_safe %}                
					<p></p>                
                </td>
            </tr>
            
            <tr>
                <td>
					 <p></p>

					 <p></p>
                <b>Select Hostname:</b>
                </td>
                <td>
                
                <p></p>                
                <b>Filter OS Type:</b>
                <p></p>                
                {% radiogroup id="osfilter-radiogroup" default="| search [ search `nmon_config` | search OS=Linux | stats count by hostname | fields hostname ]" value="$valuesosfilter$"|token_safe%}

                <p></p>                
                <b>Hosts:</b>                             
                <p></p>
                {% dropdown id="hostname-dropdown" managerid="hostname-populate" valueField="hostname" default="none" value="$valueshostname$"|token_safe %}	
					 </td>
            </tr>            	
			
            <tr>
                <td>
					<p></p>
					<b>Select a Stats Mode:</b>.
                </td>
                <td>

					<p></p>
					<p>INFO: For long TimeRange searches, Average stats mode is recommended</p>                
					<p></p>                
                
					<p></p>
					{% dropdown id="stats-dropdown" default="max" value="$valuesstats$"|token_safe %}	
				</td>
            </tr>
            
            <tr>
                <td>
					 <p></p>
                <b>Timechart Auto Interval definition:</b>.
                </td>
                <td>
                <p></p>
                {% dropdown id="interval-dropdown" managerid="interval-definition" valueField="span" selectFirstChoice="true" showClearButton=false value="$valuesspan$"|token_safe %}	
					 </td>
					 
            </tr>            

        </table>
		
    {% endblock usage%}

<!-- ##################################################################################### Single Core CPU Usage per Command Invocation ##################################################################################### -->

<!-- #### Search Control #### -->

    {% block cpu-searchcontrol %}	
	
			{% searchcontrols 
				id="searchcontrol-cpu" 
				managerid="search-cpu" %}
	
    {% endblock cpu-searchcontrol %}	
	
<!-- #### Bubble Chart #### -->

    {% block bubblechart-cpu %}
		 
		 		{% bubblechart 
            	id="cpu-bubble" 
            	managerid="search-cpu"
            	valueField="Usage_per_single_core"
            	labelField="Command"
            	categoryField="Command" %}
            
    {% endblock bubblechart-cpu %}

<!-- #### Table Stats #### -->
		
    {% block table-cpu %}

				{% table 
					id="table-cpu" 
					managerid="search-table-cpu"
					pageSize="15" %}
			
    {% endblock table-cpu %}	

	
<!-- #### Timechart #### -->

    {% block timechart-cpu %}

			{% searchcontrols 
				id="searchcontrol-timecpu" 
				managerid="timesearch-cpu" %}
		
			{% d3chart 
				id="d3chart-cpu" 
				managerid="timesearch-cpu" 
				type="stackedAreaChart" %}

    {% endblock timechart-cpu %}	


<!-- ##################################################################################### MEMORY Usage per Command Invocation ##################################################################################### -->

<!-- #### Search Control #### -->

    {% block memory-searchcontrol %}	
	
			{% searchcontrols 
				id="searchcontrol-memory" 
				managerid="search-memory" %}
	
    {% endblock memory-searchcontrol %}	
	
<!-- #### Bubble Chart #### -->

    {% block bubblechart-memory %}
		 
		 		{% bubblechart 
            	id="memory-bubble" 
            	managerid="search-memory"
            	valueField="Used_Memory_MB"
            	labelField="Command"
            	categoryField="Command" %}
            
    {% endblock bubblechart-memory %}

<!-- #### Table Stats #### -->
		
    {% block table-memory %}

				{% table 
					id="table-memory" 
					managerid="search-table-memory"
					pageSize="15" %}
			
    {% endblock table-memory %}	

	
<!-- #### Timechart #### -->

    {% block timechart-memory %}

			{% searchcontrols 
				id="searchcontrol-timememory" 
				managerid="timesearch-memory" %}
		
			{% d3chart 
				id="d3chart-memory" 
				managerid="timesearch-memory" 
				type="stackedAreaChart" %}

    {% endblock timechart-memory %}	


<!-- ##################################################################################### BLOCK MANAGERS ##################################################################################### -->	
	
{% block managers %}

<!-- Populate -->

	<!-- Populate dropdown (main search) -->
	
	{% searchmanager
		id="hostname-populate" search='index=nmon sourcetype=nmon_data type=TOP earliest="$earlyval$" latest="$lateval$" | stats count by hostname $valuesosfilter$'|token_safe
		cache=True
		preview=True %}

	<!-- Interval Definition (span) -->
	
	{% searchmanager
		id="interval-definition" search='index=nmon sourcetype=nmon_data type=TOP earliest="$earlyval$" latest="$lateval$" hostname=$valueshostname$ | `inline_customspan_django`'|token_safe
		autostart=True	
		cache=False
		preview=True %}

<!-------------------------------------------------------------------- CPU Usage -------------------------------------------------------------------->
    
	{% searchmanager 
	id="search-cpu" 
	search='index=nmon sourcetype=nmon_data type=TOP hostname=$valueshostname$ earliest="$earlyval$" latest="$lateval$" | dedup _time,pct_CPU,PID,Command,hostname | bucket _time span=1s | eval limit=(logical_cpus*100) | where pct_CPU<=limit | stats sum(pct_CPU) As pct_CPU,last(logical_cpus) As logical_cpus by _time,Command | eval conso_per_core=(pct_CPU/100) | stats sum(conso_per_core) As conso_per_core by _time,Command | stats $valuesstats$(conso_per_core) as "Usage_per_single_core" by Command'|token_safe 
	preview=True %}
	
	{% postprocessmanager 
	id="search-cpu-top30" 
	managerid="search-cpu" 
	search="| sort - Usage_per_single_core | fields Command,Usage_per_single_core | head 30" %}
	
	{% postprocessmanager 
	id="search-table-cpu" 
	managerid="search-cpu" 
	search="| sort - Usage_per_single_core" %}

	{% searchmanager 
	id="timesearch-cpu" 
	search='index=nmon sourcetype=nmon_data type=TOP hostname=$valueshostname$ earliest="$earlyval$" latest="$lateval$" | dedup _time,pct_CPU,PID,Command,hostname | bucket _time span=1s | eval limit=(logical_cpus*100) | where pct_CPU<=limit | stats sum(pct_CPU) As pct_CPU,last(logical_cpus) As logical_cpus by _time,Command | eval conso_per_core=(pct_CPU/100) | stats sum(conso_per_core) As conso_per_core by _time,Command | timechart span=$valuesspan$ useother=f limit=0 $valuesstats$(conso_per_core) as "Usage_per_single_core" by Command'|token_safe 
	preview=True %}

<!-------------------------------------------------------------------- MEMORY Usage -------------------------------------------------------------------->

	{% searchmanager 
	id="search-memory" 
	search='index=nmon sourcetype=nmon_data type=TOP hostname=$valueshostname$ earliest="$earlyval$" latest="$lateval$" | dedup _time,PID,Command,ResText,ResData,hostname | bucket _time span=1s | stats count(Command) As count, avg(ResText) As ResText, sum(ResData) As ResData by _time,hostname,Command | eval Used_Mem_MB=round(((ResData+ResText)/1024),0) | stats sum(Used_Mem_MB) As Used_Mem_MB by _time,Command | where Used_Mem_MB>0 | stats $valuesstats$(Used_Mem_MB) as "Used_Memory_MB" by Command | eval Used_Memory_MB=round(Used_Memory_MB,2)'|token_safe 
	preview=True %}
	
	{% postprocessmanager 
	id="search-memory-top30" 
	managerid="search-memory" 
	search="| sort - Used_Memory_MB | fields Command,Used_Memory_MB | head 30" %}
	
	{% postprocessmanager 
	id="search-table-memory" 
	managerid="search-memory" 
	search="| sort - Used_Memory" %}

	{% searchmanager 
	id="timesearch-memory" 
	search='index=nmon sourcetype=nmon_data type=TOP hostname=$valueshostname$ earliest="$earlyval$" latest="$lateval$" | dedup _time,PID,Command,ResText,ResData,hostname | bucket _time span=1s | stats count(Command) As count, avg(ResText) As ResText, sum(ResData) As ResData by _time,hostname,Command | eval Used_Mem_MB=round(((ResData+ResText)/1024),0) | stats sum(Used_Mem_MB) As Used_Mem_MB by _time,Command | where Used_Mem_MB>0 | timechart span=$valuesspan$ useother=f limit=0 $valuesstats$(Used_Mem_MB) as "Used_Memory_MB" by Command'|token_safe 
	preview=True %}

	
{% endblock managers %}

{% block js %}
{{ block.super }}
<script>
    require([
        "splunkjs/ready!", 
        "splunkjs/mvc/utils",
        "underscore",
        "jquery",
        "splunkjs/mvc/dropdownview"
        ], 
        function(
            mvc, 
            utils,
            _, 
            $,
            DropdownView
        		){				

		var myChart = mvc.Components.getInstance("d3chart-cpu");
			myChart.settings.set("setup", function(chart){

    		chart.xAxis.tickFormat(function(d) { return d3.time.format('%b %d %H:%M')(new Date(d)); });

    		// other settings on chart

		});

		var myChart = mvc.Components.getInstance("d3chart-memory");
			myChart.settings.set("setup", function(chart){

    		chart.xAxis.tickFormat(function(d) { return d3.time.format('%b %d %H:%M')(new Date(d)); });

    		// other settings on chart

		});

		var choices = [
        {label: " Max", value: "max"},
        {label: " Average", value: "avg"},
        {label: " Min", value: "min"}        
        ] 
 
		// Assign them to the button group
		splunkjs.mvc.Components.getInstance("stats-dropdown").settings.set("choices", choices);
		
		var choices = [
        {label: " Linux", value: "| search [ search `nmon_config` | search OS=Linux | stats count by hostname | fields hostname ]"},
        {label: " Inactive", value: ""}                
        ] 
 
		// Assign them to the button group
		splunkjs.mvc.Components.getInstance("osfilter-radiogroup").settings.set("choices", choices);				
		
		
    });
</script>

{% endblock js %}
