{% extends "UI_WLM_SOLARIS_body.html" %}

{% load splunkmvc %}
{% load nmon %}


{% block css %}
{{block.super}}
<style type="text/css">

#cpu-bubble{
   height: 527px;
}

#mem-bubble{
   height: 527px;
}

.html h3 {
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
}

</style>
{% endblock css %}


    {% block heading %}

	<div class="customimgheader">
	
	<img src="{{STATIC_URL}}/nmon/logos/NMON_simplelogo.svg" alt="Nmon"/>	
	<h1>NMON Solaris WLM: CPU and Memory Statistics of Projects / Zones / Tasks / Users</h1>

	</div>        
    
    {% endblock heading %}
    
    
   
    {% block usage%}

        <table class="table table-striped table-bordered">
          <tr>
          
            <td>

              <h3>Time Range:</h3>

    			  {% timerange id="timerange" managerid="search1" preset="Last 24 hours" earliest_time="$earlyval$"|token_safe latest_time="$lateval$"|token_safe %}                

            </td>

            <td>
				
              <h3>Time Filtering:</h3>

				  {% dropdown id="filtertime-dropdown" default="No_Filter" value="$timefilter$"|token_safe %}

            </td>

            <td>

              <h3>Filter OS Type:</h3>

              {% dropdown id="osfilter-dropdown" default="Solaris" value="$OStype$"|token_safe%}

            </td>

            <td>

				   <h3>Frame IDs:</h3>					
					{% dropdown id="frameid-dropdown" managerid="frameid-populate" valueField="WLM.frameID" default="*" value="$frameID$"|token_safe %}						

            </td>

          </tr>
        </table>

        <table class="table table-striped table-bordered">
          <tr>

            <td>

				   <h3>Hosts Filtering:</h3>					
					
					{% textinput id="hosts-textinput" value="$hostname-filter$"|token_safe default="*" %}	

            </td>

            <td>

				   <h3>Host Selection:</h3>					
					
					{% dropdown id="hosts-dropdown" managerid="hostname-populate" valueField="WLM.hostname" default="*" value="$hostname$"|token_safe %}	

            </td>

				<td>
				
					<h3>Performance Monitor:</h3>

					{% dropdown id="monitor-dropdown" width="250" default="ZONE" value="$monitor$"|token_safe %}	
				
				</td>

				<td>
				
					<h3>Report CPU Stats in:</h3>

					{% dropdown id="report-dropdown" width="250" default="value" value="$report$"|token_safe %}	
				
				</td>

            <td>

					<h3>Stats Mode:</h3>

					{% dropdown id="stats-dropdown" width="250" default="avg" value="$statsmode$"|token_safe %}	

            </td>

          </tr>
        </table>
        
    {% endblock usage%}

<!-- ##################################################################################### CPU Stats ##################################################################################### -->

<!-- #### Search Control #### -->

    {% block cpu-searchcontrol %}	
	
			{% searchcontrols 
				id="searchcontrol-cpu" 
				managerid="search-cpu" %}

			<div class="panel-body">
			   <p>Filter Zone/Project/Task/User:</p>					
				{% textinput id="cpu-textinput" value="$device$"|token_safe default="*" %}
			</div>

    {% endblock cpu-searchcontrol %}	

	
<!-- #### Bubble Chart #### -->

    {% block bubblechart-cpu %}
		 
		 		{% bubblechart 
            	id="cpu-bubble" 
            	managerid="search-cpu-bubble"
            	valueField="value"
            	labelField="ID"
            	categoryField="ID" %}
            
    {% endblock bubblechart-cpu %}

<!-- #### Table Stats #### -->
		
    {% block table-cpu %}

				{% table 
					id="table-cpu" 
					managerid="search-cpu-table"
					pageSize="19" %}
			
    {% endblock table-cpu %}

    {% block table-cpu-byhost %}

				{% table 
					id="table-cpu-byhost" 
					managerid="search-cpu-byhost"
					pageSize="19" %}
			
    {% endblock table-cpu-byhost %}
    

<!-- ##################################################################################### MEMORY Stats ##################################################################################### -->

<!-- #### Search Control #### -->

    {% block mem-searchcontrol %}	
	
			{% searchcontrols 
				id="searchcontrol-mem" 
				managerid="search-mem" %}

			<div class="panel-body">
			   <p>Filter Zone/Project/Task/User:</p>					
				{% textinput id="mem-textinput" value="$device$"|token_safe default="*" %}
			</div>

    {% endblock mem-searchcontrol %}	

	
<!-- #### Bubble Chart #### -->

    {% block bubblechart-mem %}
		 
		 		{% bubblechart 
            	id="mem-bubble" 
            	managerid="search-mem-bubble"
            	valueField="value"
            	labelField="ID"
            	categoryField="ID" %}
            
    {% endblock bubblechart-mem %}

<!-- #### Table Stats #### -->
		
    {% block table-mem %}

				{% table 
					id="table-mem" 
					managerid="search-mem-table"
					pageSize="19" %}
			
    {% endblock table-mem %}

    {% block table-mem-byhost %}

				{% table 
					id="table-mem-byhost" 
					managerid="search-mem-byhost"
					pageSize="19" %}
			
    {% endblock table-mem-byhost %}

<!-- ##################################################################################### BLOCK MANAGERS ##################################################################################### -->	
	
{% block managers %}

<!-- Populate -->

	<!-- Populate dropdown (main search) -->
	
	{% searchmanager
		id="frameid-populate" search='| tstats count AS Count from datamodel=NMON_Data_WLM where (nodename = WLM) (WLM.OStype="$OStype$") (WLM.hostname="$hostname-filter$") groupby "WLM.frameID" prestats=true | stats dedup_splitvals=t count AS Count by "WLM.frameID" | sort limit=0 "WLM.frameID" | fields - _span | fillnull Count | fields "WLM.frameID"'|token_safe
		earliest_time="$earlyval$"|token_safe
		latest_time="$lateval$"|token_safe
		cache=False
		auto_cancel=60
		preview=True %}	
	
	{% searchmanager
		id="hostname-populate" search='| tstats count AS count from datamodel=NMON_Data_WLM where (nodename = WLM) (WLM.frameID="$frameID$") (WLM.OStype="$OStype$") (WLM.hostname="$hostname-filter$") groupby "WLM.hostname" prestats=true | stats dedup_splitvals=t count AS Count by "WLM.hostname" | fields "WLM.hostname" | dedup "WLM.hostname" | sort "WLM.hostname"'|token_safe
		earliest_time="$earlyval$"|token_safe
		latest_time="$lateval$"|token_safe
		cache=False
		auto_cancel=60
		preview=True %}	

<!-------------------------------------------------------------------- CPU Usage -------------------------------------------------------------------->
    
	{% searchmanager 
	id="search-cpu" 
	search='| `WLM_Solaris_statistics(WLM$monitor$CPU,$report$,$frameID$,$hostname$,$statsmode$,$timefilter$,$device$,$monitor$)`'|token_safe 
	earliest_time="$earlyval$"|token_safe
	latest_time="$lateval$"|token_safe
	cache=False
	auto_cancel=60
	preview=True %}

	{% searchmanager 
	id="search-cpu-byhost" 
	search='| `WLM_Solaris_statistics_byhost(WLM$monitor$CPU,$report$,$frameID$,$hostname$,$statsmode$,$timefilter$,$device$,$monitor$)`'|token_safe 
	earliest_time="$earlyval$"|token_safe
	latest_time="$lateval$"|token_safe
	cache=False
	auto_cancel=60
	preview=True %}
	
	{% postprocessmanager 
	id="search-cpu-bubble" 
	managerid="search-cpu" 
	search="| fields $monitor$, $statsmode$_value | rename $monitor$ AS ID, $statsmode$_value AS value | sort - value"|token_safe %}

	{% postprocessmanager 
	id="search-cpu-table" 
	managerid="search-cpu" 
	search="| sort - avg_value" %}
	

<!-------------------------------------------------------------------- MEMORY Usage -------------------------------------------------------------------->

	{% searchmanager 
	id="search-mem" 
	search='| `WLM_Solaris_statistics(WLM$monitor$MEM,value,$frameID$,$hostname$,$statsmode$,$timefilter$,$device$,$monitor$)`'|token_safe 
	earliest_time="$earlyval$"|token_safe
	latest_time="$lateval$"|token_safe
	cache=False
	auto_cancel=60
	preview=True %}

	{% searchmanager 
	id="search-mem-byhost" 
	search='| `WLM_Solaris_statistics_byhost(WLM$monitor$MEM,value,$frameID$,$hostname$,$statsmode$,$timefilter$,$device$,$monitor$)`'|token_safe 
	earliest_time="$earlyval$"|token_safe
	latest_time="$lateval$"|token_safe
	cache=False
	auto_cancel=60
	preview=True %}
	
	{% postprocessmanager 
	id="search-mem-bubble" 
	managerid="search-mem" 
	search="| fields $monitor$, $statsmode$_value | rename $monitor$ AS ID, $statsmode$_value AS value | sort - value"|token_safe %}

	{% postprocessmanager 
	id="search-mem-table" 
	managerid="search-mem" 
	search="| sort - avg_value" %}

{% endblock managers %}




{% block js %}
{{ block.super }}
<script>
    require([
        "splunkjs/ready!", 
        "splunkjs/mvc/utils",
        "underscore",
        "jquery",
        "splunkjs/mvc/dropdownview"
        ], 
        function(
            mvc, 
            utils,
            _, 
            $,
            DropdownView
        		){				

		var choices = [
        {label: " Max", value: "max"},
        {label: " Average", value: "avg"},
        ] 
 
		// Assign them to the button group
		splunkjs.mvc.Components.getInstance("stats-dropdown").settings.set("choices", choices);

		var choices = [
        {label: " Zone", value: "ZONE"},
        {label: " Project", value: "PROJECT"},
        {label: " Task", value: "TASK"},
        {label: " User", value: "USER"},                
        ] 
 
		// Assign them to the button group
		splunkjs.mvc.Components.getInstance("monitor-dropdown").settings.set("choices", choices);

		var choices = [
        {label: " % CPU Usage", value: "value"},
        {label: " % Usage in Logical CPUs", value: "value_logical_cpus"},
        ] 
 
		// Assign them to the button group
		splunkjs.mvc.Components.getInstance("report-dropdown").settings.set("choices", choices);
		
		var choices = [
        {label: " Any OS", value: "*"},		
        {label: " Solaris", value: "Solaris"}
        ] 
 
		// Assign them to the button group
		splunkjs.mvc.Components.getInstance("osfilter-dropdown").settings.set("choices", choices);

		var choices = [
        {label: " Any", value: "*"}
        ] 
 
		// Assign them to the button group
		splunkjs.mvc.Components.getInstance("frameid-dropdown").settings.set("choices", choices);					
		
		var choices = [
        {label: " ALL Hosts", value: "*"}
        ] 
 
		// Assign them to the button group
		splunkjs.mvc.Components.getInstance("hosts-dropdown").settings.set("choices", choices);					
		
		var choices = [
        {label: " No Filter", value: "No_Filter"},
        {label: " Day BusinessDays 8h-19h", value: "Day_BusinessDays_8h-19h"},
        {label: " Day WeekEnd 8h-19h", value: "Day_WeekEnd_8h-19h"},
        {label: " Day AllDays 8h-19h", value: "Day_AllDays_8h-19h"},        
        {label: " Night BusinessDays 19h-8h", value: "Night_BusinessDays_19h-8h"},
        {label: " Night WeekEnd 19h-8h", value: "Night_WeekEnd_19h-8h"},
        {label: " Night AllDays 19h-8h", value: "Night_AllDays_19h-8h"}
        ] 
 
		// Assign them to the button group
		splunkjs.mvc.Components.getInstance("filtertime-dropdown").settings.set("choices", choices);
		
    });
</script>

{% endblock js %}
