
/* red color for alerting */

td.red-data-bar-cell {
    padding: 4px 8px;
}

td.red-data-bar-cell .red-data-bar-wrapper .red-data-bar {
    height: 16px;
    min-width: 1px;
    background-color: #CD5C5C;
	font-weight: bold;
}

.red-data-bar-over { color: #FFFFFF; }
.red-data-bar-under { color: #000000; }

.red-data-bar-wrapper {
	border-style: solid;
	border-width: 1px;
}
