.html h1 {
	color: royalblue;
}

.html h2 {
	color: #29547f;
}

/* margin left required for Firefox */

.list li {
	/*margin-left: 4px; */
	margin-left: 10px;
	padding-left: 10px;
}

.list {
	display: inline-block;
	margin-right: 50px;
}