#.gitignore

# local configuration files
local/*

# local metadata
metadata/local.meta

# Custom lookup table
lookups/my_frameid_lookup.csv

# Compiled Python files
*.pyo
*.pyc

# Backup files
*~

# the var directory will be dynamically created and does not need to be committed
var

# pycharm
.idea

# Read the doc & Sphinx
docs/_build
docs/_static
docs/_templates
