.meter-center-text {
    font-size: 50px;
    font-weight: 250;
    font-family: "Roboto", "Droid", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

.meter-under-text {
    font-size: 25px;
    font-weight: 100;
    font-family: "Roboto", "Droid", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splunk-horseshoe-meter svg {
    display: block;
    margin: auto;
}