.splunk-toolkit-cal-heatmap {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.splunk-toolkit-cal-heatmap .heatmap-container {
    overflow: hidden;
}

.splunk-toolkit-cal-heatmap .heatmap-container hr {
    margin-top: 0px;
}

.splunk-toolkit-cal-heatmap .heatmap-series-title {
    margin-bottom: 5px;
    display: inline-block;
}

.splunk-toolkit-cal-heatmap .heatmap-buttons {
    margin-bottom: 5px;
    float: right;
    display: inline;
}


/* Cal-HeatMap CSS */


.splunk-toolkit-cal-heatmap .heatmap-container .graph
{
    clear: both;
    display: block;
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
    overflow: hidden;
}

.splunk-toolkit-cal-heatmap .heatmap-container .graph-label
{
    fill: #999;
    font-size: 10px
}

.splunk-toolkit-cal-heatmap .heatmap-container .graph, .splunk-toolkit-cal-heatmap .heatmap-container .graph-legend rect {
    shape-rendering: crispedges
}

.splunk-toolkit-cal-heatmap .heatmap-container .graph-rect
{
    fill: #ededed;
}

.splunk-toolkit-cal-heatmap .heatmap-container .graph rect:hover
{
    stroke: #000;
    stroke-width: 1px
}

.splunk-toolkit-cal-heatmap .heatmap-container .subdomain-text {
    font-size: 8px;
    fill: #999;
    pointer-events: none;
}

.splunk-toolkit-cal-heatmap .heatmap-container .hover_cursor:hover {
    cursor: pointer;
}

.splunk-toolkit-cal-heatmap .heatmap-container .qi {
    background-color: #999;
    fill: #999;
}

.splunk-toolkit-cal-heatmap .heatmap-container .q0
{
    background-color: #fff;
    fill: #fff;
    stroke: #ededed
}

.splunk-toolkit-cal-heatmap .heatmap-container .q1
{
    background-color: #89dae2 !important;
    fill: #89dae2 !important;
}

.splunk-toolkit-cal-heatmap .heatmap-container .q2
{
    background-color: #9ccedb !important;
    fill: #699cc0 !important;
}

.splunk-toolkit-cal-heatmap .heatmap-container .q3
{
    background-color: #6bb5cf !important;
    fill: #45669d !important;
}

.splunk-toolkit-cal-heatmap .heatmap-container .q4
{
    background-color: #396379 !important;
    fill: #396379 !important;
}

.splunk-toolkit-cal-heatmap .heatmap-container .q5
{
    background-color: #273b64 !important;
    fill: #273b64 !important;
}

.splunk-toolkit-cal-heatmap .heatmap-container rect.highlight
{
    stroke:#444;
    stroke-width:1;
}

.splunk-toolkit-cal-heatmap .heatmap-container text.highlight
{
    fill: #444;
}

.splunk-toolkit-cal-heatmap .heatmap-container rect.now
{
    stroke: white !important;
}

.splunk-toolkit-cal-heatmap .heatmap-container text.now
{
    fill: white !important;
    font-weight: 800;
}

.splunk-toolkit-cal-heatmap .heatmap-container .domain-background {
    fill: none;
    shape-rendering: crispedges;
}
