.splunk-bullet-graph .bullet {
    font: 10px sans-serif;
    cursor: pointer;
}
.splunk-bullet-graph .bullet .marker {
    stroke-width: 2px;
}
.splunk-bullet-graph .bullet .tick line {
    stroke: #666;
    stroke-width: .5px;
}
.splunk-bullet-graph text {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica;
    color:#555;
    font-size:11px;
    line-height:12px;
}

.splunk-bullet-graph .bullet .title {
    font-weight: bold;
    cursor: pointer;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica;
    color:#555;
    font-size:12px;
    line-height:16px;
}

.splunk-bullet-graph .bullet .subtitle {
    fill: #999;
}