.splunk-toolkit-cal-heatmap {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.splunk-toolkit-cal-heatmap .heatmap-container {
    overflow: hidden;
}

.splunk-toolkit-cal-heatmap .heatmap-container hr {
    margin-top: 0px;
}

.splunk-toolkit-cal-heatmap .heatmap-series-title {
    margin-bottom: 5px;
    display: inline-block;
}

.splunk-toolkit-cal-heatmap .heatmap-buttons {
    margin-bottom: 5px;
    float: right;
    display: inline;
}