.splunk-toolkit-sankey .node rect {
    cursor: move;
    fill-opacity: 0.9;
    shape-rendering: crispEdges;
}

.splunk-toolkit-sankey .node text {
    pointer-events: none;
    text-shadow: 0 1px 0 white;
}

.splunk-toolkit-sankey .link {
    fill: none;
    stroke: black;
    stroke-opacity: 0.2;
}

.splunk-toolkit-sankey .link:hover, .splunk-toolkit-sankey .link.hovering {
    stroke-opacity: 0.5;
}

.splunk-toolkit-sankey .link.my-selected { 
    stroke: yellow;
}

.splunk-toolkit-sankey scrollable {
    overflow-y: auto;
}
