.splunk-toolkit-sunburst {
    height: 100%;
    width: 100%;
}

.splunk-toolkit-sunburst path {
    stroke: #8D8C8C;
    stroke-width: 1;
    cursor: pointer;
}

.splunk-toolkit-sunburst text {
    font: 11px sans-serif;
    cursor: pointer;
    fill: #3F3F3F !important;
}

.splunk-toolkit-sunburst p#intro {
    text-align: center;
    margin: 1em 0;
}

.splunk-toolkit-sunburst #breadcrumbs { 
    display: none; 
}

.sunburstTooltip {
	position: absolute;
    background-color: #424242;
    border-radius: 3px 3px 3px 3px;
    padding: 7px;
    font-size: 1.0em;
    color: white;
}