.splunk-toolkit-bubble-chart {
    font-family: arial;
    position: relative;
    height: 100%;
    width: 100%;
}

.splunk-toolkit-bubble-chart svg {
    display: block;
    margin: 0px auto;
}
.splunk-toolkit-bubble-chart g {
    display: block;
    margin: 0px auto;
} 

.bubble-chart-tooltip {
	position: absolute;
    background-color: #424242;
    border-radius: 3px 3px 3px 3px;
    padding: 7px;
    font-size: 1.0em;
    color: white;
    opacity:0;
}

.node:hover{
    opacity: .7;
}