.splunk-toolkit-punchcard .axis path,.axis line {
  fill: none;
  stroke: #b6b6b6;
  shape-rendering: crispEdges;
}
.splunk-toolkit-punchcard .tick text {
  fill: #999;
}
.splunk-toolkit-punchcard g.dimension.active {
  cursor: pointer;
}
.splunk-toolkit-punchcard text.label {
  font-size: 12px;
  cursor: pointer;
}
.splunk-toolkit-punchcard text.value {
  font-size: 11px;
}
.splunk-toolkit-punchcard svg {
  margin: 0px auto;
  display: block;
}
