.main-area {
    border: 1px solid black;
}

.customimgheader img {
  float: left;
  width: 48px;
  height: 48px;
}

.customimgheader h1 {
  position: relative;
  top: 8px;
  left: 10px;
}

.customimgheader h2 {
  position: relative;
  top: 18px;
  left: 10px;
}

.html h1 {
font-size: 20px;
font-weight: bold;
color: slategrey;
}