.html h2 {
font-size: 16px;
margin: 10px !important;
font-weight: normal;
}

.main-area {
    border: 1px solid black;
}

svg text {
	font: normal 11px sans-serif !important;
}

.SingleValueHolder {
    background: none;
    text-align: left;
    font-weight: normal;
    width: auto;
    padding-top: 0;
    padding-left: 0;
    font-size: 11px !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    float:left;
    margin-right: 20px;
    
}
.singleLabelBefore {
    display: block;
    margin-bottom: 2px;
    color: #333;
}

.singleResult {
    font-size: 14px !important;
}

/*SPL-50564*/
.SingleValue .singleResult 
{ margin: 0px;
font-size: 16px;
}

.single-value .single-result {
font-size: 16px !important;
font-weight: bold !important;
word-wrap: break-word !important;
margin: -10px !important;
text-align: left !important;
color: #29547f !important;
}

.single-value {
text-align: left !important;
}

.splunk-single{
display: inline-block !important;
}

.customimgheader img {
  float: left;
  width: 48px;
  height: 48px;
}

.customimgheader h1 {
  position: relative;
  top: 8px;
  left: 10px;
}

.customimgheader h2 {
  position: relative;
  top: 18px;
  left: 10px;
}

.html h1 {
font-size: 20px;
font-weight: bold;
color: slategrey;
}