/* Logo subtitle */

.logosubtitle h2 {
font-size: 16px;
margin: 10px 0;
font-weight: normal;
color: darkslategrey;
text-align: center;
}


/* main category icons and titles */

.imgheader img {
	float: left;
	width: 48px;
	height: 48px;
}

.imgheader h2 {
	position: relative;
	top: 18px;
	left: 10px;
}

/* Hide the view title as an App Home Page */

.dashboard-header h2 {
	visibility: hidden;
}

/* margin left required for Firefox */

.ui_list li {
	margin-left: 3px;
}

.custom h1 {
	color: #29547f;
	text-align: center;
}

.custom img {
	text-align: center;
}

/* Home Button */

.round-button {
    width: 3%;
    height: 0;
    padding-bottom: 3%;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    overflow: hidden;
    background: #464646;
    box-shadow: 0 0 3px gray;
}
.round-button:hover {
    background: #262626;
}
.round-button img {
    display: block;
    width: 76%;
    padding: 12%;
    height: auto;
}