/* Logo subtitle */

.logosubtitle h2 {
font-size: 16px;
margin: 10px 0;
font-weight: normal;
color: darkslategrey;
text-align: center;
}

.mainbutton_container {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

.mainbutton_container_nomargin {
    text-align: center;
}

.mainbutton {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}

.mainbutton_highmargin {
    display: inline-block;
    margin-left: 90px;
    margin-right: 90px;
}

/* main category icons and titles */

.imgheader {
   margin-top: 10px;
   margin-bottom: 40px;
}

.imgheader img {
	float: left;
	width: 48px;
	height: 48px;
}

.imgheader h1 {
	color: lightslategrey;
	text-align: left;
	position: relative;
	top: 9px;
	left: 10px;
}

.imgheader h2 {
	position: relative;
	top: 18px;
	left: 10px;
}

.imgminiheader img {
	position: relative;
	top: -4px;
}

/* Hide the view title as an App Home Page */

.dashboard-header h2 {
	visibility: hidden;
}

/* margin left required for Firefox */

.ui_list li {
	margin-left: 3px;
}

.custom h1 {
	color: lightslategrey;
	text-align: center;
}

.customleft h1 {
	color: lightslategrey;
	text-align: left;
}

.customright h1 {
	color: lightslategrey;
	text-align: right;
}

.custom img {
	text-align: center;
}

/* Home Button */

.round-button {
    width: 3%;
    height: 0;
    padding-bottom: 3%;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    overflow: hidden;
    background: #464646;
    box-shadow: 0 0 3px gray;
}
.round-button:hover {
    background: #262626;
}
.round-button img {
    display: block;
    width: 76%;
    padding: 12%;
    height: auto;
}

.cat_title {
	color: #5379af;
	margin-bottom: 10px;
}

span:hover {
    position: relative;
    font-weight: bolder;
}

/* Home page button links, inspired from http://www.w3schools.com */

a.tryitbtn, a.tryitbtn:link, a.tryitbtn:visited, a.showbtn, a.showbtn:link, a.showbtn:visited {
	display: inline-block;
	color: #57a71c;
	background-color:#FFFFFF;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 4px;
	text-decoration: none;
	margin-left: 0;
	/* margin-left: 5px; */
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 5px;
	border: 1px solid #aaaaaa;
	border: 1px solid #57a71c;
	border-radius: 5px;
	white-space: nowrap;
}

a.tryitbtn:hover,a.tryitbtn:active,a.tryitbtn:hover,a.tryitbtn:active
{
	background-color:#57a71c;color:#ffffff;
}

a.tryitbtn-alt, a.tryitbtn-alt:link, a.tryitbtn-alt:visited, a.tryitbtn-alt, a.tryitbtn-alt:link, a.tryitbtn-alt:visited {
	display: inline-block;
	color: #C171B1;
	background-color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 4px;
	text-decoration: none;
	margin-left: 0;
	/* margin-left: 5px; */
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 5px;
	border: 1px solid #aaaaaa;
	border: 1px solid #C171B1;
	border-radius: 5px;
	white-space: nowrap;
}

a.tryitbtn-alt:hover,a.tryitbtn-alt:active,a.tryitbtn-alt:hover,a.tryitbtn-alt:active
{
	background-color:#C171B1;color:#ffffff;
}

a.rt {
	margin-left: 10px;
}

a.rt {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

a.rt:hover img {
    -webkit-transform:scale(1.10); /* Safari and Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* IE 9 */
    -o-transform:scale(1.10); /* Opera */
     transform:scale(1.10);
}


/* Fix single label trouble with Splunk 6.3.0 */

.before-label {
  font-size: 16px !important;
}

.after-label {
  font-size: 16px !important;
}

/* Prevents modal window from generating troubles within Splunk interfaces */
.modal {
  display: none;
}
/* Custom Modals widths */

.modal[class^="custom-modal"] {
	left: 50%;
	border: 1px solid green;
}

.custom-modal-30 {
    width: 30%;
    margin-left: -15%;
}

.custom-modal-50 {
    width: 50%;
    margin-left: -25%;
}

.custom-modal-60 {
    width: 60%;
    margin-left: -30%;
}

.custom-modal-70 {
    width: 70%;
    margin-left: -35%;
}

.custom-modal-80 {
    width: 80%;
    margin-left: -40%;
}

.custom-modal-96 {
    width: 96%;
    margin-left: -48%;
}
