/* Logo subtitle */

.logosubtitle h2 {
font-size: 16px;
margin: 10px 0;
font-weight: normal;
color: darkslategrey;
text-align: center;
}


/* main category icons and titles */

.imgheader img {
	float: left;
	width: 48px;
	height: 48px;
}

.imgheader h2 {
	position: relative;
	top: 18px;
	left: 10px;
}

/* Hide the view title as an App Home Page */

.dashboard-header h2 {
	visibility: hidden;
}

/* margin left required for Firefox */

.ui_list li {
	margin-left: 3px;
}

.custom h1 {
	color: lightslategrey;
	text-align: center;
}

.customleft h1 {
	color: lightslategrey;
	text-align: left;
}

.customright h1 {
	color: lightslategrey;
	text-align: right;
}

.custom img {
	text-align: center;
}

/* Home Button */

.round-button {
    width: 3%;
    height: 0;
    padding-bottom: 3%;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    overflow: hidden;
    background: #464646;
    box-shadow: 0 0 3px gray;
}
.round-button:hover {
    background: #262626;
}
.round-button img {
    display: block;
    width: 76%;
    padding: 12%;
    height: auto;
}

.cat_title {
	color: #5379af;
}

/* Hide the dashboard header for the App Home page */
.dashboard-header .edit-dashboard-menu {
	 visibility: hidden;
}

/* Currently unused

.toc {
	position: absolute;
	right: -30px;
	top: 0;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	width: 260px;
}

.toc-number {
	border-radius: 50%;
	height: 60px;
	line-height: 60px;
	margin: -7px -6px 0 0;
	width: 60px;
	text-align: center;
	font-weight: 300;
	float: right;
	background-color: #cecfd5;
	color: #fff;
}

*/


span:hover {
    position: relative;
    font-weight: bolder;
}

/* Home page button links, inspired from http://www.w3schools.com */

a.tryitbtn, a.tryitbtn:link, a.tryitbtn:visited, a.showbtn, a.showbtn:link, a.showbtn:visited {
	display: inline-block;
	color: #57a71c;
	background-color:#FFFFFF;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 4px;
	text-decoration: none;
	margin-left: 0;
	/* margin-left: 5px; */
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 5px;
	border: 1px solid #aaaaaa;
	border: 1px solid #57a71c;
	border-radius: 5px;
	white-space: nowrap;
}

a.tryitbtn:hover,a.tryitbtn:active,a.tryitbtn:hover,a.tryitbtn:active
{
	background-color:#57a71c;color:#ffffff;
}

a.tryitbtn-alt, a.tryitbtn-alt:link, a.tryitbtn-alt:visited, a.tryitbtn-alt, a.tryitbtn-alt:link, a.tryitbtn-alt:visited {
	display: inline-block;
	color: #C171B1;
	background-color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 4px;
	text-decoration: none;
	margin-left: 0;
	/* margin-left: 5px; */
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 5px;
	border: 1px solid #aaaaaa;
	border: 1px solid #C171B1;
	border-radius: 5px;
	white-space: nowrap;
}

a.tryitbtn-alt:hover,a.tryitbtn-alt:active,a.tryitbtn-alt:hover,a.tryitbtn-alt:active
{
	background-color:#C171B1;color:#ffffff;
}

a.rt {
	margin-left: 10px;
}

a.rt {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

a.rt:hover img {
    -webkit-transform:scale(1.10); /* Safari and Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* IE 9 */
    -o-transform:scale(1.10); /* Opera */
     transform:scale(1.10);
}


/* Currently not working for html 5 title attribute 

[title]{
	position:relative;
}
[title]:after{
	content:attr(title);
	color:#fff;
	background:#333;
	background:rgba(51,51,51,0.75);
	padding:5px;
	position:absolute;
	left:-9999px;
	opacity:0;
	bottom:100%;
	white-space:nowrap;
	-webkit-transition:0.25s linear opacity;
}
[title]:hover:after{
	left:5px;
	opacity:1;
}

*/