
[id^=cpu] h2.panel-title {
	background: url('icons/grey_theme/cpu.png') no-repeat center left;
	background-size: 30px 30px;
    padding: 7px 55px 7px 38px !important;
    margin-left: 3px !important;
}

[id^=mem] h2.panel-title {
	background: url('icons/grey_theme/memory.png') no-repeat center left;
	background-size: 30px 30px;
    padding: 7px 55px 7px 38px !important;
    margin-left: 3px !important;
}

[id^=disk] h2.panel-title {
	background: url('icons/grey_theme/drive.png') no-repeat center left;
	background-size: 30px 30px;
    padding: 7px 55px 7px 38px !important;
    margin-left: 3px !important;
}

[id^=process] h2.panel-title {
	background: url('icons/grey_theme/process.png') no-repeat center left;
	background-size: 30px 30px;
    padding: 7px 55px 7px 38px !important;
    margin-left: 3px !important;
}

[id^=network] h2.panel-title {
	background: url('icons/grey_theme/network.png') no-repeat center left;
	background-size: 30px 30px;
    padding: 7px 55px 7px 38px !important;
    margin-left: 3px !important;
}

[id^=fs] h2.panel-title {
	background: url('icons/grey_theme/filesystem.png') no-repeat center left;
	background-size: 30px 30px;
    padding: 7px 55px 7px 38px !important;
    margin-left: 3px !important;
}

[id^=settings] h2.panel-title {
	background: url('icons/grey_theme/settings.png') no-repeat center left;
	background-size: 30px 30px;
    padding: 7px 55px 7px 38px !important;
    margin-left: 3px !important;
}

[id^=info] h2.panel-title {
	background: url('icons/grey_theme/info.png') no-repeat center left;
	background-size: 30px 30px;
    padding: 7px 55px 7px 38px !important;
    margin-left: 3px !important;
}

[id^=predict] h2.panel-title {
	background: url('icons/grey_theme/predict.png') no-repeat center left;
	background-size: 30px 30px;
    padding: 7px 55px 7px 38px !important;
    margin-left: 3px !important;
}
