
/* Custom title style of simple xml views */

/*
.dashboard-header h2 {
	font-size: 22px;
	font-weight: bold;
	color: slategrey;
}
*/

.dashboard-row .dashboard-panel h2.panel-title {
	font-size: 18px;
	font-weight: bold;
	color: #157EFB;
}


h1 {
	color: lightslategrey;
}

/* Hide the dashboard header for the App Home page */
.dashboard-header .edit-dashboard-menu {
	 visibility: hidden;
}

.oriented h1 {
	font-size: 30px;
	font-weight: bold;
	color: #FFFFFF;
	line-height:500px;
	text-align:center;
  	transform: rotate(270deg);
  	text-align: center;
  	position: relative;
  	margin-left: 20px;
  	margin-right: 20px;
}

/*Back Ground color for Category Panel */
 
div#element6{
		background-color:#8B0000;
}

div#element12{
		background-color:#8B0000;
}

div#element18{
		background-color:#8B0000;
}

div#element24{
		background-color:#8B0000;
}

/* Force margin for single block color */
.splunk-single {
  margin-left: 1px;
  margin-right: 1px;
}

/* Fix single label trouble with Splunk 6.3.0 */

.before-label {
  font-size: medium !important;
}

.after-label {
  font-size: medium !important;
}

.single-result-unit {
  font-size: medium !important;
}