
/* Custom title style of simple xml views */

h1 {
	color: lightslategrey;
}

.safecenter h1 {
	font-size: 30px;
	font-weight: bold;
	color: #FFFFFF;
  	text-align: center;
  	position: relative;
}

/*Back Ground color for Category Panel */
 
div#content2{
		background-color:#8B0000;
}

div#content6{
		background-color:#8B0000;
}

div#content10{
		background-color:#8B0000;
}

div#content14{
		background-color:#8B0000;
}

/* Force margin for single block color */
.splunk-single {
  margin-left: 1px;
  margin-right: 1px;
}

/* Fix single label trouble with Splunk 6.3.0 */

.before-label {
  font-size: medium !important;
}

.after-label {
  font-size: medium !important;
}

.single-result-unit {
  font-size: medium !important;
}