td.data-bar-cell {
    padding: 4px 8px;
}

td.data-bar-cell .data-bar-wrapper .data-bar {
    height: 16px;
    min-width: 1px;
    background-color: #5479AF;
	
	font-weight: bold;
}

.data-bar-over { color: #FFFFFF; }
.data-bar-under { color: #000000; }

.data-bar-wrapper {
	
	border-style: solid;
	border-width: 1px;
}

