
/* Custom title style of simple xml views */

/*
.dashboard-header h2 {
	font-size: 22px;
	font-weight: bold;
	color: #157EFB;
}*/

.dashboard-row .dashboard-panel h2.panel-title {
	font-size: 18px;
	font-weight: bold;
	color: #157EFB;
}

/* Now deactivated 

Insert NMON simple logo (48px) and set margin bottom

.dashboard-header h2 {
  background-image: url(/../../static/app/nmon/logos/NMON_simplelogo_48px.svg);
  background-repeat: no-repeat; 
  background-position: left;
  padding-top:	90px;
  margin-bottom:20px;  
  float: left;
}

*/

/* margin left required for Firefox */

.list li {
	/*margin-left: 4px; */
	margin-left: 10px;
	padding-left: 10px;
}

.list {
	display: inline-block;
	margin-right: 50px;
}

/* Various styles */

.html h1 {
	font-size: 20px;
	font-weight: bold;
	color: lightslategrey;
}

.html h2 {
	font-size: 18px;
	margin: 10px 0;
	font-weight: normal;
	color: #29547f;
	font-weight: bold;
}

.custom h1 {
	font-size: 18px;
	font-weight: bold;
	color: #3e83bd;
	text-align: center;
}

/* main category icons and titles */

.imgheader {
	margin-bottom: 40px;
}

.imgheader img {
	float: left;
	width: 48px;
	height: 48px;
}

.imgheader h4 {
	position: relative;
	top: 18px;
	left: 10px;
}

.imgheader2 img {
	float: left;
	width: 48px;
	height: 48px;
}

.imgheader2 h4 {
	position: relative;
	top: 10px;
	left: 10px;
}

/* custom link with icon */

.customlink img {
	float: left;
	width: 28px;
	height: 28px;
}

.customlink h3 {
	position: relative;
	top: 9px;
	left: 10px;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
}

/* Fix single label trouble with Splunk 6.3.0 */

.before-label {
  font-size: 16px !important;
}

.after-label {
  font-size: 16px !important;
}

/* Fix link input object align */
.input-linklist {
  display: inline !important;
}

/* Increase the default max-width for links */
.btn-pill {
  max-width: 600px !important;
}

/* Prevents modal window from generating troubles within Splunk interfaces */
.modal {
  display: none;
}
/* Custom Modals widths */

.modal[class^="custom-modal"] {
	left: 50%;
	border: 1px solid green;
}

.custom-modal-30 {
    width: 30%;
    margin-left: -15%;
}

.custom-modal-50 {
    width: 50%;
    margin-left: -25%;
}

.custom-modal-60 {
    width: 60%;
    margin-left: -30%;
}

.custom-modal-70 {
    width: 70%;
    margin-left: -35%;
}

.custom-modal-80 {
    width: 80%;
    margin-left: -40%;
}

.custom-modal-96 {
    width: 96%;
    margin-left: -48%;
}
