
/* Custom title style of simple xml views */

.dashboard-header h2 {
	font-size: 22px;
	font-weight: bold;
	color: slategrey;


}

/* Insert NMON simple logo (48px) and set margin bottom */

.dashboard-header h2 {
  background-image: url(/../../static/app/nmon/logos/NMON_simplelogo_48px.png);
  background-repeat: no-repeat; 
  background-position: left;
  padding-top:	90px;
  margin-bottom:20px;  
  float: left;
}

/* Various styles */

.html h2 {
	font-size: 18px;
	margin: 10px 0;
	font-weight: normal;
	color: #29547f;
	font-weight: bold;
}

.custom h1 {
	font-size: 18px;
	font-weight: bold;
	color: #3e83bd;
	text-align: center;
}

/* main category icons and titles */

.imgheader img {
	float: left;
	width: 48px;
	height: 48px;
}

.imgheader h4 {
	position: relative;
	top: 18px;
	left: 10px;
}
